@import "normalize.css";
body {
  background: #FFFFFF;
  font-family: "Microsoft YaHei";
  min-width: 1280px;
  font-size: 16px;
  overflow-y: auto;
  width: 100%;
}
a {
  text-decoration: none;
}
div,
p,
ul,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
* {
  margin: 0;
  padding: 0;
}
textarea.el-textarea__inner {
  resize: none;
  width: 240px;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
li {
  list-style: none;
}
h2 {
  font-size: 16px;
  color: #333333;
}
hr {
  border: 0!important;
  height: 1px!important;
  background: #EEEEEE!important;
}
.el-form-item.is-required .el-form-item__label:before {
  content: '';
}
/*一个图标*/
.tubiao {
  width: 25px;
  height: 25px;
  border: 1px solid #1c8de0;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 25px;
  color: #1d90e6;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 250px;
  cursor: pointer;
}
.model_ {
  text-align: center;
}
.model_ p {
  margin-top: 15px;
  margin-bottom: 5px;
}
.name-wrapper {
  min-width: 100px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.el-popover {
  background: #fff!important;
  border: 1px solid #ddd!important;
}
.el-popover[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #ddd!important;
}
#gt_lm {
  padding: 18px;
}
#gt_lm > ul {
  position: relative;
  top: -9px;
}
#gt_lm img {
  margin-right: 20px;
}
#gt_lm li {
  margin-bottom: 8px;
  font-size: 14px;
}
#gt_lm li span {
  font-size: 14px;
  color: #A0A0A0;
}
.step-top {
  margin-bottom: 35px;
  height: 105px;
  border-bottom: 1px solid #f3f3f3;
}
.step-top .el-steps {
  height: 105px;
  box-sizing: border-box;
}
.dingwei .el-icon-search:before {
  content: "";
}
.dingwei .el-input__icon {
  left: 207px;
  background: url('../images/dingwei.png') center no-repeat;
}
.footer_public {
  margin-left: 130px;
}
.selectUnion .ruleForm1 {
  margin-top: 10px;
}
.selectUnion .el-radio-button {
  margin-right: 20px;
}
.selectUnion .el-radio-button__inner {
  border: none;
  border-left: 0;
  padding: 0;
  border-radius: 0;
}
.selectUnion .el-radio-button:first-child .el-radio-button__inner {
  border-left: 0;
}
.selectUnion .is-active div i {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  background: rgba(35, 34, 34, 0.5) url('../../assets/images/dagou.png') no-repeat center;
  top: 0;
  left: 0;
}
.selectUnion .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #333333;
  font-weight: bold ;
  background-color: #ffffff ;
  border-color: #ffffff;
  box-shadow: none;
}
.sizeAndColor .el-button {
  border: 1px solid #20a0ff;
  padding: 6px 10px;
}
.sizeAndColor .el-button span {
  color: #20a0ff!important;
}
.sizeAndColor .el-button:hover {
  background: #20a0ff;
}
.sizeAndColor .el-button:hover span {
  color: #fff!important;
}
.sizeAndColor .el-button.is-disabled {
  background-color: #fff!important;
  border-color: #1c8de0;
}
.sizeAndColor .el-button.is-disabled span {
  color: #1c8de0!important;
}
.sizeAndColor .repeal .el-button {
  border: 1px solid #f7ba2a!important;
}
.sizeAndColor .repeal .el-button span {
  color: #f7ba2a!important;
}
.sizeAndColor .repeal .el-button:hover {
  background: #1c8de0;
}
.sizeAndColor .repeal .el-button:hover span {
  color: #fff!important;
}
.sizeAndColor .repeal .el-button.is-disabled {
  background-color: #fff!important;
  border-color: #999999!important;
}
.sizeAndColor .repeal .el-button.is-disabled span {
  color: #999999!important;
}
.sizeAndColor .repeal_ .el-button {
  border: 1px solid #1c8de0!important;
}
.sizeAndColor .repeal_ .el-button span {
  color: #1c8de0!important;
}
.step2 .el-radio-button,
.step2 .el-radio-button__inner {
  position: relative;
  display: block;
  float: left;
  width: 340px;
  height: 170px;
  border: 1px solid #dddddd;
  cursor: pointer;
  margin: 25px 49px 0 0;
}
.step2 .el-radio-button:hover,
.step2 .el-radio-button__inner:hover {
  background-color: #ddd;
}
.step2 .el-radio-button .el-radio-button:first-child .el-radio-button__inner,
.step2 .el-radio-button__inner .el-radio-button:first-child .el-radio-button__inner {
  border-left: none;
  border-radius: 0;
}
.step2 .el-radio-button .el-radio-button__inner,
.step2 .el-radio-button__inner .el-radio-button__inner {
  text-align: left;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 35px 22px;
  font-size: 14px;
}
.step2 .el-radio-button .el-radio-button__inner:hover,
.step2 .el-radio-button__inner .el-radio-button__inner:hover {
  background-color: #fff;
  border: 1px solid #20A0FF;
}
.step2 .el-radio-button .el-radio-button__orig-radio:checked + .el-radio-button__inner,
.step2 .el-radio-button__inner .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #1f2d3d;
  background-color: #fbfdff;
  border: 1px solid #20a0ff;
  box-shadow: none;
}
.step2 .el-radio-button .el-radio-button__orig-radio:checked + .el-radio-button__inner .dddddd i,
.step2 .el-radio-button__inner .el-radio-button__orig-radio:checked + .el-radio-button__inner .dddddd i {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  background: rgba(35, 34, 34, 0) url("../images/images3.png") no-repeat center;
  top: 119px;
  left: 289px;
}
.model_2 .el-dialog--tiny {
  width: 560px!important;
  height: 360px!important;
}
.model_2 .el-dialog--tiny .el-dialog__footer {
  margin-top: 120px;
}
.model_2 .el-dialog--tiny .el-dialog__body > div {
  margin-top: 40px;
  margin-left: 30px;
}
.model_2 .el-dialog--tiny .el-dialog__body > div img {
  margin-left: 10px;
  width: 36px;
  position: relative;
  top: 5px;
  left: 0;
}
.model_2 .el-dialog--tiny .el-dialog__body > div span {
  display: inline-block;
  margin-top: 5px;
  margin-left: 15px;
}
.model_2 .el-dialog--tiny .el-dialog__body > div p {
  color: #666666;
  margin-top: 2px;
  margin-left: 60px;
}
.selectPublic .select_ .el-select .el-input__inner {
  background: #F6F6F6;
}
.selectPublic .grid-content .el-select > .el-input .el-input__icon + .el-input__inner {
  padding-right: 5px;
  border-radius: 4px 0 0 4px;
  background-color: #F6F6F6;
  border-right: none;
}
.selectPublic .grid-content .el-input__inner:focus {
  border-color: #bfcbd9;
}
.selectPublic .grid-content .el-input__inner:hover {
  border-color: #bfcbd9;
}
.selectPublic .grid-content .el-select:hover .el-input__inner {
  border-color: #bfcbd9;
}
.selectPublic .grid-content1 .el-input__icon + .el-input__inner {
  border-radius: 0 4px 4px 0;
}
.verSuccess .el-dialog--tiny {
  width: 520px;
}
.verSuccess .el-dialog__body {
  padding: 0;
}
.verSuccess .el-dialog__body .ddd {
  margin: 50px;
  padding-bottom: 100px;
}
.verSuccess .el-dialog__body .ddd img {
  margin-right: 20px;
}
#myMainUnion .model_2 .el-dialog__body {
  padding: 2px;
}
.union_set {
  margin: 42px 0 31px;
  font-weight: bold;
}
#unionNotice textarea.el-textarea__inner {
  width: 100%;
  border: none;
}
#memberName .el-table .cell,
#memberName .el-table th > div {
  padding-left: 38px!important;
  padding-right: 1px!important;
}
#myUnionCard1 .select_ .el-select .el-input__inner {
  background: #F6F6F6;
}
#myUnionCard1 .grid-content .el-select > .el-input .el-input__icon + .el-input__inner {
  padding-right: 5px;
  border-radius: 4px 0 0 4px;
  background-color: #F6F6F6;
  border-right: none;
}
#myUnionCard1 .grid-content .el-input__inner:focus {
  border-color: #bfcbd9;
}
#myUnionCard1 .grid-content .el-input__inner:hover {
  border-color: #bfcbd9;
}
#myUnionCard1 .grid-content .el-select:hover .el-input__inner {
  border-color: #bfcbd9;
}
#myUnionCard1 .grid-content1 .el-input__icon + .el-input__inner {
  border-radius: 0 4px 4px 0;
}
#myUnionCard1 .el-table tr .el-button {
  color: #20a0ff;
  border: 1px solid #20a0ff;
}
#myUnionCard1 .el-table tr .el-button:hover {
  background-color: #20a0ff ;
  color: #ffffff;
}
#myUnionCard1 .el-dialog--tiny {
  width: 900px ;
}
#myUnionCard1 .el-dialog--tiny .el-dialog__body {
  padding: 0;
  margin-top: 15px;
  height: 500px;
  overflow-y: auto;
}
#myUnionCard1 .el-dialog--tiny .el-dialog__body > div {
  width: 830px;
  height: 125px;
  background-color: #ffffff;
  border: solid 1px #dfe6ec;
  margin: 30px;
}
#myUnionCard1 .el-dialog--tiny .el-dialog__body > div > div {
  padding: 10px 0 10px 31px;
  background-color: #EEF1F6;
  color: #333333;
  font-weight: bold;
}
#myUnionCard1 .el-dialog--tiny .el-dialog__body > div > p {
  margin: 18px 30px;
}
#myUnionCard1 .el-dialog--tiny .el-dialog__body > div > p span {
  margin-left: 25px;
}
#apply_for .apply_select .el-table_1_column_8 .cell {
  width: 151px;
}
#apply_for .select_ .el-select .el-input__inner {
  background: #F6F6F6;
}
#apply_for .grid-content .el-select > .el-input .el-input__icon + .el-input__inner {
  padding-right: 5px;
  border-radius: 4px 0 0 4px;
  background-color: #F6F6F6;
  border-right: none;
}
#apply_for .grid-content .el-input__inner:focus {
  border-color: #bfcbd9;
}
#apply_for .grid-content .el-input__inner:hover {
  border-color: #bfcbd9;
}
#apply_for .grid-content .el-select:hover .el-input__inner {
  border-color: #bfcbd9;
}
#apply_for .grid-content1 .el-input__icon + .el-input__inner {
  border-radius: 0 4px 4px 0;
}
.el-pagination {
  margin-top: 10px;
  text-align: right;
}
.user_search {
  margin: 15px 0;
}
.Breadcrumb {
  font-size: 20px;
  padding: 15px 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.Breadcrumb .myunion {
  color: #3CA7FF;
}
.tabs .el-form-item__error {
  color: #ff4949;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: static !important;
  float: left;
  margin: 10px 0 0 40px;
}
.tabs .el-form-item__label {
  padding: 11px 12px 18px 0;
}
.tabs .el-input__inner {
  width: 241px;
  display: inline-block;
}
.tabs .el-textarea {
  display: inline-block;
  width: 240px;
  vertical-align: bottom;
  float: left;
}
.tabs .el-col-6 {
  width: 241px;
}
.container .information {
  margin-bottom: 37px!important;
  font-weight: bold;
}
.container .el-step__title.is-success {
  color: #20A0FF;
}
.container .el-step__head.is-text.is-success {
  color: #50bfff;
  background-color: #ffffff;
  border-color: #50bfff;
}
.container .el-step__title.is-process {
  color: #808080;
}
.container .el-step__head.is-text.is-process {
  background-color: #20a0ff;
  border-color: #20a0ff;
}
.container_one .special .el-input__inner {
  width: 210px!important;
}
.container_one .special .el-input__icon {
  right: -10px;
}
.container_one .middle .el-upload--picture-card {
  width: 72px;
  height: 72px;
  line-height: 78px;
}
.container_one .Price_Card .el-input__inner {
  width: 205px;
}
.container_one #createStep .el-dialog--small {
  width: 950px;
}
.container_one #createStep .el-dialog--small .el-dialog__body {
  padding: 0px;
}
.container_one #createStep .el-dialog--small .el-dialog__body iframe {
  margin-left: 20px;
}
.container_one #createStep .el-form-item__error {
  position: absolute!important;
  top: -1px !important;
  left: 229px!important;
}
.container_one #createStep .second_ img {
  cursor: pointer;
}
.container_one #createStep .second_ .el-button {
  width: 72px;
  height: 72px;
  border: 1px dotted;
}
.container_one #createStep .second_ .el-button i {
  font-size: 20px;
}
#grid-content-notice .el-textarea textarea.el-textarea__inner {
  font-size: 16px;
}
#UnionSetting .el-tabs__content {
  overflow: inherit;
}
#UnionSetting .special .el-input__inner {
  width: 210px;
}
#UnionSetting .special .el-input__icon {
  right: -10px;
}
#UnionSetting .Price_Card .el-input__inner {
  width: 205px;
  height: 37px;
}
#UnionSetting .el-input__icon {
  right: -1px;
}
#UnionSetting .el-table_1_column_3 .el-button {
  border: 1px solid #1c8de0;
  color: #1c8de0;
}
#UnionSetting .theLeader .el-dialog--tiny {
  width: 550px;
}
#UnionSetting #un_set .el-dialog--small {
  width: 950px;
}
#UnionSetting #un_set .el-dialog__body {
  padding: 0;
}
#UnionSetting #un_set .el-dialog__body iframe {
  margin-left: 20px;
}
#UnionSetting #un_set img {
  cursor: pointer;
}
#UnionSetting #un_set .second_ .el-button {
  width: 72px;
  height: 72px;
  border: 1px dotted;
}
#UnionSetting #un_set .second_ .el-button i {
  font-size: 20px;
}
#UnionSetting #un_set .second_ .el-switch.is-disabled .el-switch__core {
  border-color: #20a0ff!important;
  background: #20a0ff!important;
}
#recommended textarea {
  height: 85px;
  width: 241px;
  border-radius: 5px;
  resize: none;
  padding-left: 10px;
}
#sellCard {
  padding: 40px 80px 0 50px;
}
#sellCard #ActivityCardSellDivide .contentList {
  width: 370px!important;
  height: 288px!important;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  display: inline-block;
  margin: 30px 0 30px 50px;
}
#sellCard #ActivityCardSellDivide .contentList > div {
  width: 330px;
  height: 197px;
  padding-bottom: 20px;
  margin: 0 20px;
  margin-top: 20px;
  position: relative;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}
#sellCard #ActivityCardSellDivide .contentList > div img {
  width: 330px;
  height: 197px;
}
#sellCard #ActivityCardSellDivide .contentList > div span {
  position: absolute;
  left: -30px;
  top: 18px;
  display: inline-block;
  width: 117px;
  background-color: #467DCB;
  text-align: center;
  color: #EEEEEE;
  padding: 5px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
}
#sellCard #ActivityCardSellDivide .contentList > p {
  margin: 20px;
}
#sellCard #ActivityCardSellDivide .contentList > p > span {
  position: relative;
  top: -4px;
}
#sellCard #ActivityCardSellDivide .contentList > p .el-button {
  float: right;
  border: 1px solid #20a0ff;
  color: #20a0ff;
  top: -5px;
  position: relative;
}
#sellCard #ActivityCardSellDivide .contentList > p .el-button:hover {
  color: #ffffff;
  background: #20a0ff;
}
#sellCard #ActivityCardSellDivide .setScale .el-dialog--small {
  width: 900px !important;
}
#sellCard #ActivityCardSellDivide .setScale .el-dialog--small .el-dialog__body {
  margin-top: 15px;
  padding: 0;
}
#sellCard #ActivityCardSellDivide .setScale .el-dialog--small .el-dialog__body .model_setting {
  padding: 30px 30px;
}
#sellCard #ActivityCardSellDivide .setScale .el-dialog--small .el-dialog__body .model_setting p {
  padding: 10px 0 10px 92px;
}
#sellCard #ActivityCardSellDivide .setScale .el-dialog--small .el-dialog__body .model_setting .el-input {
  width: 75%;
  margin: 4px 0;
}
#UnionCardSetting > .container {
  margin: 40px 80px 50px 50px;
}
#UnionCardSetting > .container #DiscountCardSetting .el-table .cell {
  padding-left: 38px!important;
}
#UnionCardSetting > .container #DiscountCardSetting .el-dialog--tiny {
  top: 30%!important;
  width: 640px;
  height: 269px;
}
#UnionCardSetting > .container #DiscountCardSetting .el-dialog--tiny .el-dialog__body {
  margin-top: 10px;
  padding: 0;
}
#UnionCardSetting > .container #DiscountCardSetting .el-dialog--tiny .el-dialog__body > div {
  margin: 40px 0 33px 55px;
}
#UnionCardSetting > .container #DiscountCardSetting .el-dialog--tiny .el-dialog__body > p {
  margin-left: 55px;
}
#UnionCardSetting > .container #ActivityCardSetting .explain {
  background-color: #f4f4f4;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px ;
  position: relative;
}
#UnionCardSetting > .container #ActivityCardSetting .explain > span {
  font-weight: bold;
}
#UnionCardSetting > .container #ActivityCardSetting .explain > p {
  margin: 13px 0;
  color: #666666;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.nav {
  height: 40px;
  background-color: #eef1f6;
  line-height: 40px;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.nav li {
  float: left;
  width: 25%;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.nav li:nth-child(1) {
  padding-left: 31px;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.nav li:nth-last-child(1) {
  padding-left: 48px;
  width: 18%;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li {
  float: left;
  width: 25%;
  margin-top: 20px ;
  margin-bottom: 20px ;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(1) {
  padding-left: 31px;
  position: relative;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(1) > img {
  width: 200px;
  height: 120px;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(1) > div {
  position: absolute;
  width: 200px;
  height: 120px;
  top: 0;
  left: 32px;
  overflow: hidden;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(1) > div > span {
  position: absolute;
  left: -30px;
  top: 18px;
  display: inline-block;
  width: 117px;
  background-color: #467DCB;
  text-align: center;
  color: #EEEEEE;
  padding: 5px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(2) {
  position: relative;
  top: -10px;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(2) p {
  margin-bottom: 6px;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(2) p span:nth-child(1) {
  color: #99a9bf;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(2) p span {
  color: #1f2d3d;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(3) p {
  margin-bottom: 11px;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(3) p span:nth-child(1) {
  color: #99a9bf;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(3) p span:nth-child(2) {
  margin-left: 30px;
  color: #1f2b3d;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-child(3) .el-progress-bar__outer {
  width: 300px;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-last-child(1) {
  margin-top: 65px;
  padding-left: 48px;
  width: 18%;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-last-child(1) .btn {
  display: inline-block;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-last-child(1) .btn .el-button {
  border: 1px solid #20a0ff;
  color: #20a0ff;
}
#UnionCardSetting > .container #ActivityCardSetting .activityCardsList > ul.contentList li:nth-last-child(1) .btn .el-button:hover {
  color: #ffffff;
  background: #20a0ff;
}
#UnionCardSetting > .container #ActivityCardSetting .NewActivityCard .el-dialog--small {
  width: 900px;
}
#UnionCardSetting > .container #ActivityCardSetting .NewActivityCard .el-dialog--small .el-dialog__header {
  padding: 20px 20px 15px;
}
#UnionCardSetting > .container #ActivityCardSetting .NewActivityCard .el-dialog--small .el-dialog__body {
  padding: 0;
}
#UnionCardSetting > .container #ActivityCardSetting .NewActivityCard .el-dialog--small .el-dialog__body form {
  margin: 30px 0 20px 30px;
}
#UnionCardSetting > .container #ActivityCardSetting .NewActivityCard .el-dialog--small .el-dialog__body form .el-form-item__content > span {
  margin-left: 20px;
  color: #999999;
}
#UnionCardSetting > .container #ActivityCardSetting .NewActivityCard .el-dialog--small .el-dialog__body form .el-form-item__content .el-input {
  width: 220px;
}
#UnionCardSetting > .container #ActivityCardSetting .NewActivityCard .el-dialog--small .el-dialog__body form .el-form-item__content .el-button {
  padding: 28px 102px;
  border: 1px dotted;
}
#UnionCardSetting > .container #ActivityCardSetting .NewActivityCard .el-dialog--small .el-dialog__body form .el-form-item__content textarea.el-textarea__inner {
  width: 220px;
  height: 55px;
}
#UnionCardSetting > .container #ActivityCardSetting .membership .el-dialog--small {
  width: 900px;
  height: 600px;
}
#UnionCardSetting > .container #ActivityCardSetting .membership .el-dialog--small .el-dialog__body {
  padding: 0;
  max-height: 450px;
  overflow-y: auto;
}
#UnionCardSetting > .container #ActivityCardSetting .membership .el-dialog--small .el-dialog__body hr {
  margin-top: 5px;
}
#UnionCardSetting > .container #ActivityCardSetting .membership .el-dialog--small .el-dialog__body .el-table--fit {
  margin: 30px;
  width: 94%!important;
}
#UnionCardSetting > .container #ActivityCardSetting .membership .el-dialog--small .el-dialog__body > div {
  margin: 30px;
  margin-top: 20px;
}
#UnionCardSetting > .container #ActivityCardSetting .membership .el-dialog--small .el-dialog__body > p {
  width: 835px;
  height: 54px;
  line-height: 54px;
  background-color: #f4f4f4;
  padding-left: 20px;
  margin: 30px 30px;
}
#UnionCardSetting > .container #ActivityCardSetting .SelectCard .el-dialog--tiny {
  width: 830px;
  top: 18%!important;
}
#UnionCardSetting > .container #ActivityCardSetting .SelectCard .el-dialog--tiny .el-dialog__body {
  padding: 0;
  margin-top: 15px;
}
#UnionCardSetting > .container #ActivityCardSetting .SelectCard .el-dialog--tiny .el-dialog__body .step2 .el-radio-button {
  margin: 25px 23px 0 34px;
}
#UnionCardSetting > .container #ActivityCardSetting .SelectCard .el-dialog--tiny .el-dialog__body .step2 .el-radio-button .el-radio-button__inner {
  padding: 27px 22px!important;
}
#UnionCardSetting > .container #ActivityCardSetting .model_2 .el-dialog__body {
  padding: 0;
  margin-top: 15px;
}
#UnionCardSetting > .container #ActivityCardSetting .noPass .el-dialog--tiny {
  width: 640px;
  height: 260px;
}
#UnionCardSetting > .container #ActivityCardSetting .noPass .el-dialog--tiny .el-dialog__body {
  padding: 0px;
  margin-top: 15px;
}
#UnionCardSetting > .container #ActivityCardSetting .noPass .el-dialog--tiny .el-dialog__body > div {
  margin: 30px 0 0 74px;
}
#UnionCardSetting > .container #ActivityCardSetting .noPass .el-dialog--tiny .el-dialog__body > div > span {
  position: relative;
  top: -55px;
}
#UnionCardSetting > .container #ActivityCardSetting .noPass .el-dialog--tiny .el-dialog__body > div .el-textarea {
  width: 220px;
  margin-left: 30px;
}
#UnionCardSetting > .container #ActivityCardSetting .noPass .el-dialog--tiny .el-dialog__body > div .el-textarea textarea.el-textarea__inner {
  width: 220px;
  height: 85px;
}
#UnionCardSetting > .container #MyActivityCard .explain {
  background-color: #f4f4f4;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px ;
  position: relative;
  margin-bottom: 0!important;
}
#UnionCardSetting > .container #MyActivityCard .explain > span {
  font-weight: bold;
}
#UnionCardSetting > .container #MyActivityCard .explain > p {
  margin: 13px 0;
  color: #666666;
}
#UnionCardSetting > .container #MyActivityCard .icon {
  width: 15px ;
  height: 15px ;
  border: 1px solid #f4f4f4;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  color: #f4f4f4;
  font-weight: bold;
  cursor: pointer;
  background-color: #d2d2d2;
  margin-left: 10px;
}
#UnionCardSetting > .container #MyActivityCard .auditRecord {
  display: none;
  width: 500px;
  height: 450px;
  background-color: #ffffff;
  box-shadow: 0px 0px 19px 1px rgba(53, 53, 53, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 82px;
  right: 28px;
  z-index: 100;
}
#UnionCardSetting > .container #MyActivityCard .auditRecord > .top_ {
  padding: 15px 20px;
  border-bottom: 1px solid #EEEEEE;
}
#UnionCardSetting > .container #MyActivityCard .auditRecord > .top_ span {
  color: #333333;
}
#UnionCardSetting > .container #MyActivityCard .auditRecord > .top_ strong {
  float: right;
  font-size: 35px;
  color: #EEEEEE;
  position: relative;
  top: -12px;
  cursor: pointer;
}
#UnionCardSetting > .container #MyActivityCard .auditRecord .bottom_ {
  margin: 20px 30px;
}
#UnionCardSetting > .container #MyActivityCard .auditRecord .bottom_ > p {
  color: #90a4ae;
}
#UnionCardSetting > .container #MyActivityCard .auditRecord .bottom_ > div {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background-color: #f6f8fa;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 13px;
}
#UnionCardSetting > .container #MyActivityCard .unionList {
  margin-top: 30px;
}
#UnionCardSetting > .container #MyActivityCard .unionList > p {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEEEEE;
}
#UnionCardSetting > .container #MyActivityCard .unionList .addUnion {
  margin-top: 20px;
  margin-bottom: 15px;
}
#UnionCardSetting > .container #MyActivityCard .unionList .addUnion > span {
  margin-left: 10px;
  color: #999999;
}
#UnionCardSetting > .container #MyActivityCard .unionList #noUnion,
#UnionCardSetting > .container #MyActivityCard .unionList #noUnion1 {
  margin: 0;
}
#UnionCardSetting > .container #MyActivityCard .unionList .el-input__inner {
  width: 120px;
  margin: 5px;
}
#UnionCardSetting > .container #MyActivityCard footer {
  width: 100%;
  height: 56px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 56px;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  left: 3px;
}
#UnionCardSetting > .container #MyActivityCard .model_2 .el-dialog__body {
  padding: 0;
  margin-top: 15px;
}
#UnionCardSetting > .container #MyActivityCard .model_3 .el-dialog--tiny {
  width: 640px;
}
#UnionCardSetting > .container #MyActivityCard .model_3 .el-dialog--tiny .el-dialog__body {
  padding: 0;
  margin-top: 15px;
}
#UnionCardSetting > .container #MyActivityCard .model_3 .el-dialog--tiny .el-dialog__body > div {
  margin-top: 30px;
  margin-left: 90px;
}
#UnionCardSetting > .container #MyActivityCard .model_4 .el-dialog--tiny,
#UnionCardSetting > .container #MyActivityCard .model_5 .el-dialog--tiny {
  width: 900px;
}
#UnionCardSetting > .container #MyActivityCard .model_4 .el-dialog--tiny .el-dialog__body,
#UnionCardSetting > .container #MyActivityCard .model_5 .el-dialog--tiny .el-dialog__body {
  padding: 0;
  margin-top: 15px;
}
#UnionCardSetting > .container #MyActivityCard .model_4 .el-dialog--tiny .el-dialog__body > div,
#UnionCardSetting > .container #MyActivityCard .model_5 .el-dialog--tiny .el-dialog__body > div {
  margin-left: 30px;
  margin-top: 20px;
}
#UnionCardSetting > .container #MyActivityCard .model_4 .el-dialog--tiny .el-dialog__body > div .section_,
#UnionCardSetting > .container #MyActivityCard .model_5 .el-dialog--tiny .el-dialog__body > div .section_ {
  margin-top: 18px;
}
#UnionCardSetting > .container #MyActivityCard .model_4 .el-dialog--tiny .el-dialog__body > div .section_ .rightContent,
#UnionCardSetting > .container #MyActivityCard .model_5 .el-dialog--tiny .el-dialog__body > div .section_ .rightContent {
  width: 238px;
  height: 442px;
  border: solid 1px #dfe6ec;
  float: right;
  margin-right: 30px;
}
#UnionCardSetting > .container #MyActivityCard .model_4 .el-dialog--tiny .el-dialog__body > div .section_ .rightContent > p,
#UnionCardSetting > .container #MyActivityCard .model_5 .el-dialog--tiny .el-dialog__body > div .section_ .rightContent > p {
  background-color: #eef1f6;
  padding: 11px 10px 10px;
}
#UnionCardSetting > .container #MyActivityCard .model_4 .el-dialog--tiny .el-dialog__body > div .section_ .rightContent > div,
#UnionCardSetting > .container #MyActivityCard .model_5 .el-dialog--tiny .el-dialog__body > div .section_ .rightContent > div {
  margin-left: 10px;
}
#UnionCardSetting > .container #MyActivityCard .model_4 .el-dialog--tiny .el-dialog__body > div .section_ .rightContent > div .el-input-number--small,
#UnionCardSetting > .container #MyActivityCard .model_5 .el-dialog--tiny .el-dialog__body > div .section_ .rightContent > div .el-input-number--small {
  width: 100px;
  margin: 5px 15px 0 30px;
}
#UnionQuit .container {
  margin: 40px 50px;
}
#UnionQuit .container .second {
  margin-top: 11px !important;
}
#UnionQuit .container .tuimeng .model_12 {
  margin-left: 30px;
  margin-top: 20px;
}
#UnionQuit .container .tuimeng .model_12 p {
  margin-bottom: 7px;
  color: #333333;
}
#UnionQuit #Refund .el-table_1_column_4 .el-button,
#UnionQuit #Refund .el-table_1_column_8 .el-button {
  border: 1px solid #1c8de0;
  color: #1c8de0;
}
#UnionQuit #Refund .el-dialog__body {
  padding: 0px;
}
#UnionQuit #Refund .tuimeng .el-dialog--tiny {
  width: 600px;
}
#UnionQuit #Refund #popBox .el-dialog--tiny {
  width: 615px;
  top: 283px !important;
}
#UnionQuit #Refund #popBox .el-dialog__header {
  padding: 10px 15px 0;
}
#UnionQuit #Refund #popBox .el-dialog__header .el-dialog__title {
  font-size: 15px;
}
#UnionQuit #Refund .RefundAu .el-dialog--tiny {
  width: 640px;
}
#UnionQuit #Refund .RefundAu .el-dialog--tiny .el-dialog__body {
  margin-top: 17px ;
}
#UnionQuit #Refund .RefundAu .el-dialog--tiny .el-dialog__body .main {
  margin-bottom: 45px;
}
#UnionQuit #Refund .RefundAu .el-dialog--tiny .el-dialog__body .main .el-form-item {
  margin-top: 30px;
  margin-left: 10%;
  margin-bottom: 0;
}
#UnionQuit #Refund .RefundAu .el-dialog--tiny .el-dialog__body .main .el-form-item .el-textarea__inner {
  min-width: 60%;
}
#UnionQuit #Refund .RefundAu .el-dialog--tiny .el-dialog__body .main p {
  margin-left: 140px;
  color: #999999;
  margin-top: 20px;
}
.container .top_top .version .el-button {
  padding: 10px 35px;
}
#Business {
  margin: 40px 89px 40px 50px;
}
#Business h4 {
  margin: 30px 0;
}
#Business .el-col-6 {
  width: 290px;
}
#Business #myBusiness .businesTable .el-table_1_column_7 .cell .model_01 .el-dialog__footer .el-button {
  padding: 8px 18px;
}
#Business #myBusiness .businesTable .el-table_1_column_7 .cell .model_01 .el-dialog__footer .el-button span {
  color: #ffffff !important;
}
#Business #myBusiness .select_ .el-select .el-input__inner {
  background: #F6F6F6;
}
#Business #myBusiness .grid-content .el-select > .el-input .el-input__icon + .el-input__inner {
  padding-right: 5px;
  border-radius: 4px 0 0 4px;
  background-color: #F6F6F6;
  border-right: none;
}
#Business #myBusiness .grid-content .el-input__inner:focus {
  border-color: #bfcbd9;
}
#Business #myBusiness .grid-content .el-input__inner:hover {
  border-color: #bfcbd9;
}
#Business #myBusiness .grid-content .el-select:hover .el-input__inner {
  border-color: #bfcbd9;
}
#Business #myBusiness .grid-content1 .el-input__icon + .el-input__inner {
  border-radius: 0 4px 4px 0;
}
#Business #myRecommend .MyRecommend .el-form-item__label {
  width: 115px !important;
}
#Business #myRecommend .MyRecommend .selectUnion .el-form-item__content .el-form-item__error {
  top: 80px;
  left: 265px;
}
#Business #myRecommend .MyRecommend .el-form-item__content .el-form-item__error {
  top: 7px;
  left: 265px;
}
#Business #myRecommend .MyRecommend .el-select > .el-input,
#Business #myRecommend .MyRecommend .el-col-5 {
  width: 238px;
}
#Business #myRecommend .MyRecommend .businessNote .el-form-item__content {
  margin-left: 110px !important;
}
#Business #myRecommend .MyRecommend .businessNote .el-form-item__content textarea.el-textarea__inner {
  width: 220px;
}
#Business #myRecommend .MyRecommend textarea {
  height: 85px;
  width: 238px;
  border-radius: 5px;
  resize: none;
  padding-left: 10px;
}
#Business #myRecommend .select_ .el-select .el-input__inner {
  background: #F6F6F6;
}
#Business #myRecommend .grid-content .el-select > .el-input .el-input__icon + .el-input__inner {
  padding-right: 5px;
  border-radius: 4px 0 0 4px;
  background-color: #F6F6F6;
  border-right: none;
}
#Business #myRecommend .grid-content .el-input__inner:focus {
  border-color: #bfcbd9;
}
#Business #myRecommend .grid-content .el-input__inner:hover {
  border-color: #bfcbd9;
}
#Business #myRecommend .grid-content .el-select:hover .el-input__inner {
  border-color: #bfcbd9;
}
#Business #myRecommend .grid-content1 .el-input__icon + .el-input__inner {
  border-radius: 0 4px 4px 0;
}
#Business .commissionTable .el-dialog__body {
  padding: 0;
}
#Business #CommossionSettle .model_0 .el-dialog--tiny {
  width: 560px;
  height: 360px;
}
#Business #CommossionSettle .model_0 .el-dialog--tiny .el-dialog__body {
  padding: 0;
}
#Business #CommossionSettle .model_0 .el-dialog--tiny .el-dialog__body .middle_ {
  text-align: center;
  margin-top: 25px;
}
#Business #CommossionSettle .model_0 .el-dialog--tiny .el-dialog__body .middle_ .imgSrc {
  width: 200px;
}
#Business #CommossionSettle .model_0 .el-dialog--tiny .el-dialog__body .middle_ span {
  color: red;
}
#Business #CommossionSettle .el-tabs__active-bar {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
#Business #CommossionSettle .el-tabs__item.is-active {
  border-bottom: 3px solid #20a0ff!important;
}
#Business #CommossionSettle .select_ .el-select .el-input__inner {
  background: #F6F6F6;
}
#Business #CommossionSettle .grid-content .el-select > .el-input .el-input__icon + .el-input__inner {
  padding-right: 5px;
  border-radius: 4px 0 0 4px;
  background-color: #F6F6F6;
  border-right: none;
}
#Business #CommossionSettle .grid-content .el-input__inner:focus {
  border-color: #bfcbd9;
}
#Business #CommossionSettle .grid-content .el-input__inner:hover {
  border-color: #bfcbd9;
}
#Business #CommossionSettle .grid-content .el-select:hover .el-input__inner {
  border-color: #bfcbd9;
}
#Business #CommossionSettle .grid-content1 .el-input__icon + .el-input__inner {
  border-radius: 0 4px 4px 0;
}
#Business .CommissionDetail .el-dialog--small {
  width: 800px;
}
#Business .CommissionDetail .el-dialog--small .el-dialog__body {
  padding: 0;
}
#Business .CommissionDetail .el-dialog--small .el-dialog__body .middle {
  padding: 20px;
}
#Business .CommissionDetail .el-dialog--small .el-dialog__body .middle > span {
  display: block;
  margin-bottom: 20px;
}
#Business .CommissionDetail .el-dialog--small .el-dialog__body .middle p {
  padding-top: 5px;
}
#Business .CommissionDetail .el-dialog--small .el-dialog__body .middle .totalAll {
  background: #eef1f6;
  padding: 8px 20px;
}
#Business .CommissionDetail .el-dialog--small .el-dialog__body .middle .totalAll span {
  float: right;
  margin-right: 115px;
  font-weight: bold;
}
#Business .CommissionDetail .el-dialog--small .el-dialog__body .middle .el-button {
  padding: 5px 17px;
  margin-bottom: 8px;
  float: right;
}
#Business .ratioSetting .el-table .el-table__body-wrapper .el-table_1_column_43 .el-button {
  border: 1px solid #1c8de0;
  color: #1c8de0;
}
#Business .model_03 .el-dialog--tiny {
  width: 560px;
  height: 360px;
}
#Business .model_03 .el-dialog--tiny .el-dialog__header {
  padding: 20px 20px 16px;
  border-bottom: 1px solid #eeeeee;
}
#front #Verification .first_ .el-input__inner {
  font-size: 18px;
  height: 35px;
}
#front #Verification .UnionCardInformation {
  min-width: 540px;
  margin: auto;
}
#front #Verification .UnionCardInformation > div {
  max-width: 1450px;
  margin: 0 auto;
}
#front #Verification .UnionCardInformation > div form {
  width: 540px;
  height: 532px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(53, 53, 53, 0.08);
  float: left;
  transition: all .5s;
  position: relative;
  left: 454px;
  margin-right: 70px;
}
#front #Verification .UnionCardInformation > div .preferenceItems {
  max-width: 760px;
  float: left;
  height: 532px;
  box-shadow: 0px 0px 15px 0px rgba(53, 53, 53, 0.08);
  margin-left: 30px;
  padding: 0px 37px;
}
#front #Verification .UnionCardInformation > div .preferenceItems .section_ {
  margin-top: 18px;
}
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .rightContent {
  width: 238px;
  height: 440px;
  overflow-y: auto;
  border: solid 1px #dfe6ec;
  float: right;
  margin-left: 20px;
}
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .rightContent > p {
  background-color: #eef1f6;
  padding: 11px 10px 10px;
}
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .rightContent > div {
  margin-left: 10px;
}
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .rightContent > div .el-button--text {
  margin-left: 50px;
}
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .rightContent::-webkit-scrollbar,
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .el-table::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  background-color: #f5f5f5;
}
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .rightContent::-webkit-scrollbar-thumb,
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .el-table::-webkit-scrollbar-thumb {
  /*width: 10px;*/
  height: 5px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#front #Verification .UnionCardInformation > div .preferenceItems .section_ .el-table__body-wrapper {
  overflow: inherit!important;
}
#front #Verification .UnionCardInformation .footer_ {
  width: 250px;
  margin: 0 auto;
  margin-top: 60px;
}
#front #Verification .model_0 .el-dialog--tiny {
  width: 63%;
}
#front #Verification .model_0 .el-dialog__body {
  padding: 0;
}
#front #Verification .model_0 .zhifu .el-radio-button__inner {
  color: #1c8de0;
}
#front #Verification .model_0 .zhifu .is-active .el-radio-button__inner {
  color: #fff;
}
#front #Verification .second_0 .el-dialog--tiny {
  width: 900px;
}
#front #Verification .second_0 .el-dialog__body {
  padding: 0;
  margin-top: 15px;
}
#front #Verification .second_0 .el-dialog__body > div {
  width: 840px;
  margin: 30px;
}
#front #Verification .second_0 .el-dialog__body > div > p {
  width: 840px;
  height: 40px;
  background-color: #eef1f6;
  line-height: 40px;
  padding-left: 30px;
}
#front #Verification .second_0 .el-dialog__body > div form {
  border: solid 1px #dfe6ec;
  border-top: none;
}
#front #Verification .second_0 .el-dialog__body > div .payWay {
  margin-top: 20px;
}
#front #Verification .second_0 .el-dialog__body > div .payWay > p {
  width: 840px;
  height: 40px;
  background-color: #eef1f6;
  line-height: 40px;
  padding-left: 30px;
}
#front #Verification .second_0 .el-dialog__body > div .payWay > div {
  border: solid 1px #dfe6ec;
  border-top: none;
  padding-left: 30px;
}
#front #Verification .second_0 .el-dialog__body > div .payWay > div > .el-radio-group {
  margin: 20px 0;
}
#front #Verification .second_0 .el-dialog__body > div .payWay > div .el-radio-button {
  margin-right: 10px;
}
#front #Verification .second_0 .el-dialog__body > div .payWay > div .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #fff;
}
#front #Verification .second_0 .el-form-item__label {
  width: 124px !important;
}
#front #Verification .second_0 .is-active .pay_ {
  color: #ffffff;
  margin-right: 10px;
}
#front #Verification .second_0 .el-radio-button__inner {
  border: 1px solid #1c8de0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 16px 47px;
  color: #20a0ff;
}
#front #Verification .second_0 .el-col-5 {
  width: 220px;
}
#front #Verification .codePayment .el-dialog {
  width: 560px;
  height: 360px;
}
#front #Verification .codePayment .el-dialog__body {
  margin-top: 15px;
  padding: 0;
  text-align: center;
}
#front #Verification .codePayment .el-dialog__body img {
  margin-top: 35px;
  width: 200px;
  height: 200px;
}
#front #Verification .codePayment .el-dialog__body p {
  margin-top: 20px;
  margin-bottom: 30px;
}
#front #ExpenseRecord .el-date-editor .el-input {
  width: 100%;
}
#front #ExpenseRecord .select_ .el-select .el-input__inner {
  background: #F6F6F6;
}
#front #ExpenseRecord .grid-content .el-select > .el-input .el-input__icon + .el-input__inner {
  padding-right: 5px;
  border-radius: 4px 0 0 4px;
  background-color: #F6F6F6;
  border-right: none;
}
#front #ExpenseRecord .grid-content .el-input__inner:focus {
  border-color: #bfcbd9;
}
#front #ExpenseRecord .grid-content .el-input__inner:hover {
  border-color: #bfcbd9;
}
#front #ExpenseRecord .grid-content .el-select:hover .el-input__inner {
  border-color: #bfcbd9;
}
#front #ExpenseRecord .grid-content1 .el-input__icon + .el-input__inner {
  border-radius: 0 4px 4px 0;
}
#front #ExpenseRecord .el-tabs__active-bar {
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}
#front #ExpenseRecord .el-tabs__item.is-active {
  border-bottom: 3px solid #20a0ff!important;
}
#front #transaction .el-col-6 {
  width: 220px;
}
#front #transaction .el-select .el-input {
  width: 220px;
}
#front #transaction .el-form-item__content {
  width: 560px;
}
#front #transaction .step2 .el-radio-button {
  height: inherit;
  border: none;
  margin: 20px 22px 25px 32px;
}
#front #transaction .step2 .el-radio-button__inner:hover {
  background-color: #fff;
  border: 1px solid #20A0FF;
}
#front #transaction .code_ .el-button {
  border: 1px solid #1c8de0;
  color: #1c8de0;
}
#front #transaction .code_ .el-button:hover {
  background: #1c8de0;
  color: #fff;
}
#front #transaction .model_1 .el-dialog {
  width: 560px;
  height: 360px;
}
#front #transaction .model_1 .el-dialog img {
  width: 200px;
}
#front #transaction .model_1 .el-dialog__body {
  padding: 0;
}
#finance .el-dialog--tiny {
  width: 650px;
  height: 360px;
}
#finance .footer_ .el-dialog--tiny {
  height: 400px;
}
#finance .el-dialog__body {
  padding: 0;
}
#finance .Popup_ {
  margin-top: 30px;
  padding-left: 50px;
}
#finance .Popup_ .el-form-item__error {
  top: 20%;
  left: 35%;
}
#finance .model_1 .el-dialog--tiny {
  width: 560px;
}
#finance .model_1 .el-dialog--tiny img {
  width: 200px;
}
#finance .el-form-item__error:nth-child(3) {
  left: 62%;
}
#noRegister .model_1 .el-dialog--tiny {
  width: 450px;
}
#noRegister .model_1 .el-dialog__body {
  padding: 0;
}
#noUnion,
#noUnion1 {
  margin: 40px 110px 0 50px;
  margin-top: 30px;
  border: 1px solid #ddd;
  text-align: center;
  padding: 28px 0;
}
#noUnion img,
#noUnion1 img {
  width: 35px;
  margin-bottom: 10px;
}
#noUnion p,
#noUnion1 p {
  font-size: 14px;
  color: #999999;
}
