@import "./normalize.css";
@import "./userIntroduction.css";
body{
  background: #FFFFFF;
  font-family: "Microsoft YaHei";
  font-size:16px;
}
a{
  text-decoration: none;
}
div,p,ul,ul,h1,h2,h3,h4,h5,h6,*{
  margin: 0;
  padding: 0;
}
textarea.el-textarea__inner{
  resize:none;
  width: 290px;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
//清除浮动
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
li{
  list-style: none;
}
h2{
  font-size: 16px;
  color: #333333;
}
hr{
  border: 0!important;
  height: 1px!important;
  background: #EEEEEE!important;
}
//去掉*字公共样式
.el-form-item.is-required .el-form-item__label:before {
  content: '';
}
// 注：以下都是公共样式------------------------------------------------------------------------------------------------------------------0

/*一个图标*/
.tubiao{
  width: 25px;
  height: 25px;
  border: 1px solid #1c8de0;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 25px;
  color: #1d90e6;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 300px;
  cursor: pointer;
}

//弹出框居中公共样式----------
.model_{
  text-align: center;

  p{
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

//超出部分文字提示--------
.name-wrapper{
  min-width:98px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.el-popover{
  background: #fff!important;
  border: 1px solid #ddd!important;
}
.el-popover[x-placement^=bottom] .popper__arrow{
  border-bottom-color: #ddd!important;
}

//列表项公共样式部分------------
#gt_lm {
  padding: 18px;
  >ul{
    position: relative;
    top: -9px;
    left:10px;
  }
  img {
    margin-right: 10px;
  }
  li {
    margin-bottom: 8px;
    font-size: 14px;
    span {
      font-size: 14px;
      color: #A0A0A0
    }
  }
}
//步骤条的公共样式
.step-top{
  margin-bottom: 35px;
  height: 105px;
  border-bottom: 1px solid #f3f3f3;
  .el-steps {
    height: 105px;
    box-sizing: border-box;
  }
}

//地理定位图标的公共式-----------
.dingwei{
  .el-icon-search:before {
    content: "";
  }
  .el-input__icon{
    left: 256px;
    background:url('../images/dingwei.png') center no-repeat;
  }
}
//地理定位图底部公共的样式
.footer_public{
  margin-left:130px;
}
//选择点击图片切换的公共样式类--------------------
.selectUnion{
  .ruleForm1{
    margin-top:10px;
  }
  //块和块之间的右边距
  .el-radio-button{
    margin-right: 20px;
  }
  .el-radio-button__inner{
    border: none;
    border-left: 0;
    padding: 0;
    border-radius: 0;
  }
  //点击按钮里边的默认样式
  .el-radio-button:first-child .el-radio-button__inner {
    border-left: 0
  }
  //点击按钮时，浮现背景图和图标--------
  .is-active{
    div{
      i{
        display: block;
        width:80px;
        height:80px;
        position: absolute;
        background: rgba(35,34,34,.5) url('../../assets/images/dagou.png') no-repeat center;
        top: 0;
        left:0;
      }
    }
  }
  //点击对象的字体样式
  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    color: #333333;
    font-weight:bold ;
    background-color:#ffffff ;
    border-color: #ffffff;
    box-shadow: none;
  }
}

//修改所有页面操作中所有按钮的颜色
.sizeAndColor{
  .el-button{
    border: 1px solid #20a0ff;
    padding: 6px 10px;
    span{
      color: #20a0ff!important;
    }
  }
  .el-button:hover{
    background: #20a0ff;
    span{
      color: #fff!important;
    }
  }
  .el-button.is-disabled{
    background-color: #fff!important;
    border-color: #1c8de0;
    span{
      color:#1c8de0!important;
    }
  }
  .repeal{
    .el-button{
      border: 1px solid #f7ba2a!important;
      span{
        color: #f7ba2a!important;
      }
    }
    .el-button:hover{
      background: #1c8de0;
      span{
        color: #fff!important;
      }
    }
    .el-button.is-disabled{
      background-color: #fff!important;
      border-color: #999999!important;
      span{
        color:#999999!important;
      }
    }
  }
  .repeal_{
    .el-button{
      border: 1px solid #1c8de0!important;
      span{
        color: #1c8de0!important;
      }
    }
  }
}

//加入联盟,前台选择粉丝，1步骤;修改饿了么框架的样式，
.step2{
  .el-radio-button, .el-radio-button__inner {
    position: relative;
    display: block;
    float: left;
    width: 340px;
    height: 170px;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin: 25px 49px 0 0;
    &:hover{
      background-color: #ddd;
    }
    .el-radio-button:first-child .el-radio-button__inner {
      border-left: none;
      border-radius: 0;
    }
    .el-radio-button__inner {
      text-align: left;
      box-sizing: border-box;
      outline: 0;
      margin: 0;
      transition: all .3s cubic-bezier(.645,.045,.355,1);
      padding: 35px 22px;
      font-size: 14px;
    }
    .el-radio-button__inner:hover{
      background-color: #fff;
      border: 1px solid #20A0FF;
    }
    .el-radio-button__orig-radio:checked+.el-radio-button__inner {
      color: #1f2d3d;
      background-color: #fbfdff;
      border: 1px solid #20a0ff;
      box-shadow: none;
      .dddddd{
        i{
          display: block;
          width:50px;
          height:50px;
          position: absolute;
          background: rgba(35,34,34,0) url("../images/images3.png") no-repeat center;
          top: 119px;
          left: 289px;
        }
      }
    }

  }
}

//删除弹出框的公共样式
.model_2{
  .el-dialog--tiny{
    width: 560px!important;
    height: 360px!important;
    .el-dialog__footer{
      margin-top: 120px;
    }
    .el-dialog__body{
      >div{
        margin-top: 40px;
        margin-left: 30px;
        img{
          margin-left: 10px;
          width: 36px;
          position: relative;
          top:5px;
          left: 0;
        }
        span{
          display: inline-block;
          margin-top: 5px;
          margin-left:15px;
        }
        p{
          color: #666666;
          margin-top: 2px;
          margin-left: 60px;
        }
      }
    }
  }
}

//请选择的公共样式（合二为一）  变量的名字
.selectPublic {
  //请选择的背景颜色
  .select_ {
    .el-select .el-input__inner {
      background: #F6F6F6;
    }
  }
  .grid-content {
    .el-select > .el-input {
      .el-input__icon + .el-input__inner {
        padding-right: 5px;
        border-radius: 4px 0 0 4px;
        background-color: #F6F6F6;
        border-right: none;
      }
    }
    .el-input__inner:focus {
      border-color:#bfcbd9;
    }
    .el-input__inner:hover {
      border-color: #bfcbd9;
    }
    .el-select:hover .el-input__inner {
      border-color: #bfcbd9;
    }
  }
  .grid-content1 {
    .el-input__icon + .el-input__inner {
      border-radius: 0 4px 4px 0;
    }
  }
}

//消费核销成功弹出框   联盟卡核销公共样式-----
.verSuccess{
  .el-dialog--tiny{
    width:520px;
  }
  .el-dialog__body{
    padding: 0;
    .ddd{
      margin: 50px;
      padding-bottom: 100px;
      img{
        margin-right: 20px;
      }
    }
  }
}

//前台办理联盟卡/首页联盟卡详情弹出框公共样式
//详情左边样式
.step3 {
  .el-radio-group {
    width: 200px;
    margin:0 35px 0 0;
    min-height: 295px;
    overflow-y: auto;
    border-radius: 6px;
    .el-radio-button__inner:hover {
      color: inherit;
    }
    .el-radio-button, .el-radio-button__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 10px;
      height: 87px;
      .el-radio-button__inner {
        border: none!important;
        border-radius: 6px;
      }
      .outOfDate {
        width: 38px;
        position: absolute;
        right: 6px;
        top: 3px;
        z-index: 10;
      }
    }
    .bgcolor1{
      background-image: linear-gradient(90deg,#FD7157 0%, #EB3C3F 100%);
      width:198px;height: 80px;position: absolute;left: 0;top: 0;border-radius: 6px;
    }
    .el-radio-button:first-child .el-radio-button__inner {
      position: absolute;
    }
    .el-radio-button__orig-radio:checked+.el-radio-button__inner {
      color: #1f2d3d;
      background-color: #fbfdff;
      border: 1px solid #20a0ff;
      box-shadow: none;
      .choiceShadow{
        .shadow{
          border-radius: 5px;
          width: 198px;
          height: 85px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, .2);
        }
        img{
          display: block!important;
          width:30px;
          height:30px;
          position: absolute;
          bottom: 1px;
          right: 2px;
          border-radius: 0 0 6px 0;
        }
      }
    }
  }
}

// 注：以上都是公共样式------------------------------------------------------------------------------------------------------------------0

#myMainUnion{
  .model_2{
    .el-dialog__body{
      padding: 2px;
    }
  }
}
//我的联盟公共信息描述样式
.union_set{
  margin:42px 0 31px;
  font-weight: bold;
}
//我的联盟公告输入框信息
#unionNotice{
  textarea.el-textarea__inner{
    width:100%;
    border:none;
  }
}
#memberName{
  .el-table .cell, .el-table th>div{
    padding-left: 38px!important;
    padding-right: 1px!important;
  }
  .model_13{
    .el-dialog--tiny {
      width: 550px;
    }
  }
}
//我的联盟底部联盟卡的样式-------------------------
#myUnionCard1{
  //使用变量名selectPublic
  .selectPublic;
  .el-table tr{
    .el-button{
      color: #20a0ff;
      border: 1px solid #20a0ff;
    }
    .el-button:hover{
      background-color:#20a0ff ;
      color: #ffffff;
    }
  }
  .el-dialog--tiny{
    width:700px ;
    .el-dialog__header{
      padding: 20px 20px 15px;
      border-bottom: 1px solid #eee;
    }
    .el-dialog__body{
      padding: 0 30px;
      height: 400px;
      overflow-y: auto;
      box-sizing: border-box;
      nav{
        margin: 20px 0 15px 0;
      }
      .unionCardDetails{
        display: flex;
        //详情右边样式
        .unionCardDetailsRight{
          width:350px;
          height:280px;
          border: 1px solid #BFCBD9;
          padding: 20px 10px 20px 30px;
          box-sizing: border-box;
          border-radius: 4px;
          line-height: 2;
          >div{
            height: 240px;
            overflow-y: auto;
            .DetailsName{
              color: #333;
              font-weight: bold;
            }
            .DetailsTime{
              color: #999;
            }
            .DetailsItems{
              color: #333;
            }
            .companyName {
              >li{
                margin-left: 25px;
                color: #999;
              }
              .circle {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #ccc;
              }
            }
          }
        }
      }
    }
  }
}



//入盟审核的样式
#apply_for {
  .apply_select {
    .el-table_1_column_8 {
      .cell {
        width: 155px;
      }
    }
  }
  .selectPublic;
  .model_02{
    .el-dialog--tiny{
      width: 550px;
    }
  }
  .model_03{
    .el-dialog--tiny{
      width: 550px;
    }
  }
}
// 我的联盟分页公共样式
.el-pagination{
  margin-top: 10px;
  text-align: right;
}
//我的联盟中底部公共样式
.user_search {
  margin: 15px 0;
}

//我的联盟公共头部样式--Breadcrumb
.Breadcrumb{
  font-size:20px;
  padding:15px 50px;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  .myunion{
    color:#3CA7FF
  }
}
//我的联盟/推荐入盟输入框的公共样式
.tabs{
  .el-form-item__error {
    color: #ff4949;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute!important;
    margin: 10px 0 0 40px;
    left: 293px;
    top:-2px;
  }
  .el-form-item__label {
    padding: 11px 12px 18px 0;
  }
  .el-input__inner {
    width: 290px;
    display: inline-block;
  }
  .el-textarea {
    display: inline-block;
    width: 240px;
    vertical-align: bottom;
    float: left;
  }
  .el-col-6 {
    width: 241px;
  }
}
//*****************************************************

//我的联盟/去加入联盟（一部分是创建联盟）公共样式
.container{
  //头部输入信息样式
  .information{
    margin-bottom:37px!important;
    font-weight: bold;
  }
  .el-step__title.is-success{
    color:#20A0FF
  }
  .el-step__head.is-text.is-success{
    color: #50bfff;
    background-color: #ffffff;
    border-color: #50bfff;
  }
  .el-step__title.is-process{
    color:#808080;
  }
  .el-step__head.is-text.is-process{
    background-color: #20a0ff;
    border-color: #20a0ff;
  }

}

//我的联盟/创建联盟公共样式--------------------------------
.container_one {
  .special {
    .el-input__inner {
      width: 210px!important;
    }
    //时间样式偏右
    .el-input__icon {
      right: -10px;
    }
  }
  //联盟图标样式
  .middle {
    .el-upload--picture-card {
      width: 72px;
      height: 72px;
      line-height: 78px;
    }
  }
  .Price_Card{
    .el-input__inner{
      width:205px;
    }
  }

  #createStep{
    .el-dialog--small{
      width:950px;
      .el-dialog__body{
        padding:0px;
        iframe{
          margin-left: 20px;
        }
      }
    }
    .el-form-item__error {
      position: absolute!important;
      top: -1px!important;
      left: 229px!important;
    }
    .second_{
      .el-input__inner {
        width: 240px;
        display: inline-block;
      }
      img{
        cursor: pointer;
      }
      .el-button{
        width:72px;
        height:72px;
        border:1px dotted;
        i{
          font-size:20px;
        }
      }
    }
  }
}

#grid-content-notice{
  .el-textarea{
    textarea.el-textarea__inner{
      font-size: 16px;
    }
  }
}

//我的联盟/联盟设置 公共样式····-----------------------------------------------
#UnionSetting{
  //设置定位可以看到，不会被隐藏
  .el-tabs__content{
    overflow: inherit;
  }
  .special {
    .el-input__inner {
      width: 210px;
    }
    .el-input__icon {
      right: -10px;
    }
  }
  //红卡价格输入框
  .Price_Card {
    .el-input__inner {
      width:205px;
      height:37px;
    }
  }
  .el-input__icon {
    right: -1px;
  }
  //盟主权限转移样
  .el-table_1_column_3{
    //操作样式处理
    .el-button{
      border: 1px solid #1c8de0;
      color: #1c8de0;
    }
  }
  .theLeader{
    .el-dialog--tiny{
      width: 550px;
      .el-dialog__body{
        padding: 0;
        margin-top: 15px;
        >span{
          margin:20px 0 30px 20px ;
          display: inline-block;
        }
      }
    }
  }
  #un_set{
    .el-dialog--small{
      width: 950px;
    }
    .el-dialog__body{
      padding: 0;
      iframe{
        margin-left: 20px;
      }
    }
    img{
      cursor: pointer;
    }
    .second_{
      .el-button{
        width:72px;
        height:72px;
        border:1px dotted;
        i{
          font-size:20px;
        }
      }
      .el-switch.is-disabled .el-switch__core {
        border-color: #20a0ff!important;
        background: #20a0ff!important;
      }
    }
  }
}
#recommended{
  textarea {
    height: 85px;
    width: 290px;
    border-radius: 5px;
    resize: none;
    padding-left: 10px;
  }
}

//我的联盟/售卡佣金分成管理---------------------------------------------------------4
#sellCard{
  padding: 40px 80px 0 50px;
  //活动卡售卡比例设置
  #ActivityCardSellDivide{
    //图片列表的一整套式
    .contentList{
      width: 23%!important;
      max-width: 330px!important;
      height: 181px!important;
      background-color: #ffffff;
      border: solid 1px #dddddd;
      display: inline-block;
      margin: 30px 0 30px 50px;
      >div{
        max-width: 330px;
        height: 80px;
        padding-bottom: 20px;
        margin:  0 20px;
        margin-top: 20px;
        position: relative;
        border-bottom: 1px solid #dddddd;
        overflow: hidden;
        img{
          width: 100%;
          height: 80px;
        }
        span{
          position: absolute;
          left: -40px;
          top: 6px;
          display: inline-block;
          width: 117px;
          background-color: #467DCB;
          text-align: center;
          color: #EEEEEE;
          padding: 5px;
          transform:rotate(-45deg);
          -ms-transform:rotate(-45deg); 	/* IE 9 */
          -moz-transform:rotate(-45deg); 	/* Firefox */
          -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
          -o-transform:rotate(-45deg); 	/* Opera */
        }
      }
      >p{
        margin: 20px;
        >span{
          position: relative;
          top: -4px;
        }
        .el-button{
          float: right;
          border: 1px solid #20a0ff;
          color: #20a0ff;
          top: -5px;
          position: relative;
        }
        .el-button:hover{
          color: #ffffff;
          background: #20a0ff;
        }
      }
    }
    //弹出框列表的样式
    .setScale {
      .el-dialog--small {
        width: 900px !important;
        .el-dialog__body {
          margin-top: 15px;
          padding: 0;
          .model_setting {
            padding: 30px 30px;
            >div{
              margin-bottom: 15px;
            }
            p {
              padding: 10px 0 10px 92px;
            }
            .el-input{
              width: 75%;
              margin: 4px 0;
            }
          }
        }
      }
    }
  }
}

//我的联盟、去加入联盟
#joinStep{
  .step2{
    .el-radio-button__inner{
      white-space: inherit!important;
    }
    .dddddd{
      .declare{
        margin-left: 20px;
        >div{
          width: 190px;
          line-height: 1.5;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
    }
  }
}

//我的联盟/联盟卡设置---------------------------------------------------------------5
#UnionCardSetting{
  >.container {
    margin: 40px;
    //折扣卡设置
    #DiscountCardSetting{
      .el-table .cell{
        padding-left: 38px!important;
      }
      .el-dialog--tiny{
        top: 30%!important;
        width: 640px;
        height: 269px;
        .el-dialog__body{
          margin-top: 10px;
          padding: 0;
          >div{
            margin:40px 0 33px 55px;
          }
          >p{
            margin-left: 55px;
          }
        }
      }
    }
    //活动卡设置
    #ActivityCardSetting{
      //详情的弹出框
      .activityDetails{
        .el-dialog--small{
          width: 800px;
          min-height: 500px;
          .el-dialog__body{
            padding: 0;
            margin-top: 15px;
            .activityDetailsMain{
              margin: 30px ;
              >p{
                margin-bottom: 20px;
                >span:nth-child(1){
                  display: inline-block;
                  width: 150px;
                  text-align: right;

                }
                >span:nth-child(2){
                  margin-left: 50px;
                }
              }
              .cardExplain{
                margin-bottom: 35px;
                >span:nth-child(1){
                  display: block;
                  width: 205px;
                  float: left;
                  padding-left: 67px;
                  box-sizing: border-box;
                }
                >span:nth-child(2){
                  display: inline-block;
                  width: 500px;
                }
              }
            }
          }
        }
      }
      .explain{
        background-color: #f4f4f4;
        margin-top: 20px;
        margin-bottom: 20px;
        padding:20px 30px ;
        position: relative;
        >span{
          font-weight: bold;
        }
        >p{
          margin: 13px 0;
          color: #666666;
        }
      }
      //活动卡列表
      .activityCardsList{
        >ul.nav{
          height: 40px;
          background-color: #eef1f6;
          line-height: 40px;
          li{
            float: left;
            width:25%;
          }
          li:nth-child(1){
            padding-left: 2%;
            box-sizing: border-box;
          }
          li:nth-last-child(1){
            padding-left: 3%;
            width:18%;
          }
        }
        >ul.contentList{
          li{
            float: left;
            width:25%;
            margin-top:20px ;
            margin-bottom:20px ;
            box-sizing: border-box;
          }
          li:nth-child(1){
            padding-left: 31px;
            position: relative;
            top: 31px;
            >img{
              width: 80%;
              height:60px;
              border-radius: 6px;
              background-image: linear-gradient(90deg, #03abff 0%, #008bd2 100%);
            }
            >div{
              position: absolute;
              width: 80%;height:60px;
              border-radius: 6px;
              top: 0;
              left:32px;
              overflow: hidden;
              >span{
                position: absolute;
                left: -40px;
                top: 6px;
                display: inline-block;
                width: 117px;
                background-color: #467DCB;
                text-align: center;
                color: #EEEEEE;
                padding: 5px;
                transform:rotate(-45deg);
                -ms-transform:rotate(-45deg); 	/* IE 9 */
                -moz-transform:rotate(-45deg); 	/* Firefox */
                -webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
                -o-transform:rotate(-45deg); 	/* Opera */
              }
            }
          }
          li:nth-child(2){
            position: relative;

            >p{
              margin-bottom: 6px;
              span:nth-child(1){
                color: #99a9bf;
              }
              span{
                color: #1f2d3d;
              }
            }
          }
          li:nth-child(3){
            >p{
              margin-bottom: 11px;
              >span:nth-child(1){
                color: #99a9bf;
              }
              >span:nth-child(2){
                margin-left: 30px;
                color: #1f2b3d;
              }
            }
            .btnCheck {
              >button {
                background: #E8F5FF;
                >span{
                  color: #20a0ff!important;
                }
              }
              .checkReview{
                .el-dialog--small{
                  width:900px;
                  .el-dialog__header {
                    padding: 20px 20px 15px;
                    border-bottom: 1px solid #ddd;
                  }
                  .el-dialog__body{
                    >p{
                      height: 54px;
                      line-height: 54px;
                      background-color: #f4f4f4;
                      margin-bottom:30px;
                      padding-left: 20px;
                    }
                  }
                }
              }
            }
          }
          li:nth-last-child(1){
            margin-top: 65px;
            padding-left: 48px;
            width:18%;
            >div{
              display: inline-block;
            }
            .btn{
              margin-right: 10px;
              .el-button{
                border: 1px solid #20a0ff;
                color: #20a0ff;
              }
              .el-button:hover{
                color: #ffffff;
                background: #20a0ff;
              }
            }
          }
        }
      }
      //新建弹出框样式
      .NewActivityCard{
        .el-dialog--small{
          width: 900px;
          .el-dialog__header {
            padding: 20px 20px 15px;
          }
          .el-dialog__body {
            padding: 0;
            form{
              margin: 30px 0 20px 30px;
              .el-form-item__content{
                >span{
                  margin-left: 20px;
                  color: #999999;
                }
                .el-input{
                  width:220px;
                }
                .el-button {
                  padding: 28px 102px;
                  border: 1px dotted;
                }
                textarea.el-textarea__inner {
                  width: 220px;
                  height: 55px;
                }
              }
              .OptionalColor{
                position: absolute;
                z-index: 10;
                .el-radio-group{
                  border: 1px solid #ddd;
                  border-radius: 5px;
                }
                .el-radio-button:first-child .el-radio-button__inner{
                  border-left: none!important;
                }
                .el-radio-button__inner{
                  border: none;
                  padding: 6px 5px 5px 1px;
                  box-sizing: border-box;
                  height: 33px;
                  width: 50px;
                  overflow: hidden;
                  >div{
                    margin-left: 14px;
                    margin-bottom: 10px;
                  }
                }
              }
            }
          }
        }
      }
      //弹出框 参与盟员数
      .membership{
        .el-dialog--small{
          width: 900px;
          height: 600px;
          .el-dialog__title{
            color: #1f2d3d!important;
          }
          .el-dialog__body{
            padding: 0;
            margin-top: 15px;
            hr{
              margin-top:5px;
            }
            .el-table--fit{
              margin: 30px;
              width: 94%!important;
            }
            >div{
              margin: 30px;margin-top: 20px;
            }
            >p{
              width: 835px;
              height: 54px;
              line-height: 54px;
              background-color: #f4f4f4;
              padding-left: 20px;
              margin: 30px 30px;
            }
          }
        }
      }
      //选择卡片样式
      .SelectCard{
        .el-dialog--tiny{
          width: 830px;
          top: 18%!important;
          .el-dialog__body{
            padding: 0;
            margin-top: 15px;
            .step2{
              .el-radio-button{
                margin: 25px 23px 0 34px;
                .el-radio-button__inner{
                  padding: 27px 22px!important;
                }
              }
            }
          }
        }
      }
      .model_2{
        .el-dialog__body{
          padding: 0;
          margin-top: 15px;
        }
      }
      //不通过弹出框
      .noPass{
        .el-dialog--small{
          width: 640px;
          height: 260px;
          .el-dialog__body{
            padding: 0px;
            margin: 15px 0 15px;
            >div {
              margin: 30px 0 0 74px;
              >span{
                position: relative;
                top:-55px;
              }
              .el-textarea {
                width: 220px;
                margin-left: 30px;
                textarea.el-textarea__inner {
                  width: 220px;
                  height: 85px;
                }
              }
            }
          }
        }
      }
    }
    //动态切换页面的样式
    #MyActivityCard{
      //适应变量
      .explain{
        #ActivityCardSetting> .explain;
        margin-bottom: 0!important;
      }
      //  ! 图标样式
      .icon{
        width:15px ;
        height:15px ;
        border: 1px solid #f4f4f4;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 15px;
        color: #f4f4f4;
        font-weight: bold;
        cursor: pointer;
        background-color: #d2d2d2;
        margin-left: 10px;
      }
      //审核
      .auditRecord{
        width:500px;
        height: 450px;
        background-color: #ffffff;
        box-shadow: 0px 0px 19px 1px
        rgba(53, 53, 53, 0.1);
        border-radius: 10px;
        position: absolute;
        top: 82px;
        right: 28px;
        z-index: 100;
        >.top_{
          padding: 15px 20px;
          border-bottom: 1px solid #EEEEEE;
          span{
            color: #333333;
          }
          strong{
            float: right;  font-size: 35px;
            color: #EEEEEE;position: relative; top: -12px;
            cursor: pointer;
          }
        }
        .bottom_{
          margin: 20px 30px;
          height: 378px;
          overflow-y: auto;
          >div{
            >p{
              color: #90a4ae;
            }
            >div {
              display: inline-block;
              height: 30px;
              line-height: 30px;
              background-color: #f6f8fa;
              color: #54667b;
              border-radius: 20px;
              padding: 10px 20px;
              margin: 13px 0;
            }
          }
        }
      }
      .unionList{
        margin-top: 30px;
        >p{
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom: 1px solid #EEEEEE;
          margin-bottom: 15px;
        }
        .addUnion{
          margin-top: 20px;
          margin-bottom:15px;
          >span{
            margin-left: 10px;
            color: #999999;
          }
        }
        #noUnion,#noUnion1{
          margin: 0!important;
        }
      }
      footer{
        width: 100%;
        height: 56px;
        background-color: #f5f5f5;
        text-align: center;
        line-height: 56px;
        margin-top:50px;
        position: fixed;
        bottom: 0;
        left: 3px;
      }
      .model_2{
        .el-dialog__body{
          padding: 0;
          margin-top: 15px;

        }
      }
      .model_3{
        .el-dialog--tiny {
          width: 640px;
          .el-dialog__body {
            padding: 0;
            margin-top: 15px;
            >div{
              margin-top:30px;
              margin-left: 90px;

            }
          }
        }
      }
      .model_4{
        .el-dialog--small{
          width: 900px;
          .el-dialog__body{
            padding: 0;
            margin-top: 15px;
            .el-row {
              .el-input__inner {
                width: 195px;
              }
            }
            >div{
              margin-left: 30px;
              margin-top:20px;
              .section_{
                margin-top: 18px;
                .rightContent{
                  width: 238px;
                  border: solid 1px #dfe6ec;
                  float: right;
                  margin-right: 30px;
                  >p{
                    background-color: #eef1f6;
                    padding: 11px 10px 10px;
                  }
                  .rightContentBottom{
                    height: 404px;
                    overflow-y: auto;
                    >div{
                      margin: 10px 20px 5px 20px;
                      display: flex;
                      justify-content:space-between;
                      .rightContentBottomHidden{
                        position: relative;top: 8px;
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 110px;
                      }
                      .el-input-number--small{
                        width: 100px;
                      }
                      .el-input-number{
                        width: 110px;
                      }
                    }
                  }
                }
                .ErpRight{
                  width: 325px;
                }
              }
            }
          }
        }
      }
    }
  }
}



//我的联盟/退盟管理------------------------------------------------------------------6
#UnionQuit {
  .container {
    margin: 40px 50px;
    .second {
      margin-top: 11px !important;
    }
    .main {

    }
    .tuimeng {
      .model_12 {
        margin-left: 30px;
        margin-top: 20px;
        p {
          margin-bottom: 7px;
          color: #333333;
        }
      }
    }
  }
  #Refund {
    //最后一列样式
    .el-table_1_column_4, .el-table_1_column_8 {
      .el-button {
        border: 1px solid #1c8de0;
        color: #1c8de0;
      }
    }
    .el-dialog__body {
      padding: 0px;
      margin-top: 15px;
    }
    .tuimeng {
      .el-dialog--tiny {
        width: 600px;
      }
    }
    .model_12{
      .el-dialog--tiny{
        width: 450px;
        .el-dialog__body{
          >p{
            margin: 20px;
          }
        }
      }
    }
    //弹出框的样式
    #popBox {
      //总体弹出框的宽度
      .el-dialog--tiny {
        width: 615px;
        top: 283px !important;
      }
      .el-dialog__header {
        padding: 10px 15px 0;
        .el-dialog__title {
          font-size: 15px;
        }
      }
    }
    //表格的样式
    .second{
      .el-button{
        border: 1px solid #20a0ff;
        color: #20a0ff;
      }
      .el-button:focus, .el-button:hover {
        color: #fff;
        border-color: #1d90e6;
        background: #20a0ff;
      }
    }
    .RefundAu {
      .el-dialog--tiny {
        width: 640px;
        .el-dialog__body {
          margin-top:17px ;
          .main {
            margin-bottom: 45px;
            .el-form-item {
              margin-top: 30px;
              margin-left: 10%;
              margin-bottom: 0;
              .el-textarea__inner {
                min-width: 60%;
              }
            }
            p {
              margin-left: 140px;
              color: #999999;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}



//我的联盟未登录时的样式(no-register)------------------------
.container{
  .top_top{
    .version{
      .el-button{
        padding:10px 35px;
      }
    }
  }
}



//我的联盟中（商机模块）的所有样式------------------------------------------------------------------------------------------1
//我的商机样式
#Business{
  //页面排版样式
  margin:40px;
  h4{
    margin:30px 0;
  }
  .el-col-6 {
    width: 290px;
  }
  #myBusiness {
    //我的商机弹出框样式
    .businesTable .el-table_1_column_7 .cell {
      .model_01 {
        .el-dialog__footer {
          .el-button {
            padding: 8px 18px;
            span {
              color: #ffffff !important;
            }
          }
        }
      }
    }
    //引用变量
    .selectPublic
  }
  //我要推荐里边表单样式
  #myRecommend {
    .MyRecommend {
      .el-form-item__label {
        width: 115px !important;
      }
      .selectUnion {
        .el-radio-button__inner:hover{
        }
        .el-form-item__content {
          //文字提示样式
          .el-form-item__error {
            top: -11px;
            left: 267px;
          }
        }
        .dddddd{
          >div{
            position: absolute;
            top: 83px;
            left:-15px;
          }
        }
      }
      .el-form-item__content {
        //文字提示样式
        .el-form-item__error {
          top: 7px;
          left: 265px;
        }
      }
      //表单的距离
      .el-select > .el-input, .el-col-5 {
        width: 238px;
      }
      .businessNote .el-form-item__content {
        margin-left: 110px !important;
        textarea.el-textarea__inner {
          width: 220px;
        }
      }
      textarea {
        height: 85px;
        width: 238px;
        border-radius: 5px;
        resize: none;
        padding-left: 10px;
      }
    }
    //引用变量
    .selectPublic
  }
  //佣金结算模块样式----------------------------------
  //我需支付的佣金“支付弹出框样式”
  .commissionTable{
    .el-dialog__body{
      padding: 0
    }
  }
  #CommossionSettle{
    .model_0{
      .el-dialog--tiny {
        width: 560px;
        height: 360px;
        .el-dialog__body{
          padding:0;
          margin-top: 10px;
          .middle_{
            text-align: center;
            margin-top: 25px;
            .imgSrc{
              width: 200px;
              height: 200px;
            }
            span{
              color: red;
            }
          }
        }
      }
    }
    .el-tabs__active-bar{
      transition: transform .2s cubic-bezier(.645,.045,.355,1)!important;
    }
    .el-tabs__item.is-active{
      border-bottom: 3px solid #20a0ff!important;
    }
    //引用变量
    .selectPublic
  }
  .CommissionDetail{
    .el-dialog--small{
      width:800px;
      .el-dialog__body{
        padding:0;
        .middle{
          padding:20px;
          >span{
            display: block;
            margin-bottom:20px;
          }
          p{
            padding-top: 5px;
          }
          .totalAll{
            background: #eef1f6;
            padding:8px 20px;
            span{
              float: right;
              margin-right: 119px;
              font-weight: bold;
            }
          }
          .el-button{
            padding: 5px 17px;
            margin-bottom: 8px;
            float: right;
          }
        }
      }
    }
  }
  //商机佣金比例设置模块样式-------------------------------
  //按钮的样式修改
  .ratioSetting{
    .el-table{
      .el-table__body-wrapper{
        .el-table_1_column_43{
          .el-button{
            border: 1px solid #1c8de0;
            color: #1c8de0;
          }
        }
      }
    }
  }
  .model_03{
    .el-dialog--tiny{
      width:560px;
      height: 360px;
      .el-dialog__header {
        padding: 20px 20px 16px;
        border-bottom: 1px solid #eeeeee;
      }
    }
  }
}



//我的联盟中(前台模块）里边的所有样式---------------------------------------------------------------------------------------------2
#front{
  margin: 40px;
  //联盟卡消费核销--首页样式----------------------   1
  #Verification {
    .first_ {
      .el-input__inner {
        font-size: 17px;
        height: 35px;
      }
    }
    //首页联盟卡信息的样式
    .UnionCardInformation{
      min-width:540px;
      margin: auto;
      .selectUnion{
        .el-radio-button__inner:hover{
          .isShow{
            display: block!important;
          }
        }
        .isShow{
          position: absolute;top: 90px;left: -7px;
          display:none;
          text-align: center;
          h6{
            margin-bottom: 17px;
          }
        }
      }
      >div {
        max-width: 1172px;
        margin: 0 auto;
        form {
          padding-top:10px;
          width: 35%;
          height: 532px;
          background-color: #ffffff;
          box-shadow: 0px 0px 15px 0px rgba(53, 53, 53, 0.08);
          float: left;
          transition: all .5s;
          position: relative;
          left: 32%;
          margin-right: 3%;
          box-sizing: border-box;
          .el-select>.el-input {
            width: 92%;
            max-width:188px ;
          }
          .el-input-group--prepend .el-input__inner, .el-input-group__append {
            width: 80%;
            max-width:140px;
          }
        }
        .preferenceItems {
          width: 50%;
          max-width: 550px;
          float: left;
          height: 532px;
          box-shadow: 0px 0px 15px 0px
          rgba(53, 53, 53, 0.08);
          margin-left: 30px;
          padding: 0px 2%;
          //有效时间
          .validTime{
            margin-left: 15px;
          }
          #left-table{
            width: 48%;
          }
          .section_ {
            margin-top: 18px;
            .rightContent {
              width: 50%;
              max-width: 262px;
              height: 440px;
              border: solid 1px #dfe6ec;
              float: right;
              margin-left: 20px;
              > p {
                background-color: #eef1f6;
                padding: 2%;
              }
              > div {
                height: 399px;
                overflow-y: auto;
                &::-webkit-scrollbar-thumb{
                  height: 5px;
                  border-radius: 10px;
                  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                }
                >div {
                  margin-left: 10px;
                  >span{
                    display: inline-block;
                    width: 140px;
                  }
                  .el-button--text {
                    margin-left: 30px;
                  }
                }
              }
              .el-button--text{
                margin-left: 15px;
              }
            }
            .el-table__body-wrapper{
              overflow: inherit!important;
            }
          }
        }
      }
      .footer_{
        width:155px;
        margin: 0 auto;
        margin-top:60px;
      }
    }
    //支付弹出框页面
    .model_0{
      .el-dialog--tiny{
        width:63%;
      }
      .el-dialog__body{
        padding: 0;
      }
      //支付页面的字体样式
      .zhifu{
        .el-radio-button__inner{
          color: #1c8de0;
        }
        .is-active {
          .el-radio-button__inner {
            color: #fff;
          }
        }
      }
    }
    //弹出框 核销
    .second_0 {
      .el-dialog--tiny{
        width: 900px;
        top: 8%!important;
      }
      .el-dialog__body{
        padding: 0;
        margin-top: 15px;
        >div {
          width: 840px;
          margin: 30px;
          > p {
            height: 40px;
            background-color: #eef1f6;
            line-height: 40px;
            padding-left: 30px;
            border: solid 1px #dfe6ec;
            border-bottom: none;
          }
          form {
            border: solid 1px #dfe6ec;
            border-top:none;
            .discountsProject{
              .el-form-item__content{
                margin-left: 127px;
              }
            }
          }
          .payWay{
            margin-top: 20px;
            width: 840px;
            height: 255px;
            border: solid 1px #dfe6ec;
            >p{
              height: 40px;
              background-color: #eef1f6;
              line-height: 40px;
              padding-left: 30px;
            }
            >div {
              border-top:none;
              padding-left: 30px;
              >.el-radio-group{
                margin: 20px 0;
                .el-radio-button {
                  margin-right: 10px;
                }
                .el-radio-button__orig-radio:checked + .el-radio-button__inner {
                  color: #fff;
                }
              }
              >.el-row{
                .el-col-24{

                }
              }
            }
          }
        }
      }
      .el-form-item__label{
        width: 124px !important;
      }

      //点击时候按钮的样式
      .is-active{
        .pay_{
          color: #ffffff;
          margin-right: 10px;
        }
      }
      //四个支付方式的样式
      .el-radio-button__inner{
        border: 1px solid #1c8de0;
        margin-right: 10px;
        margin-top: 10px;
        padding: 16px 47px;
        color: #20a0ff;
      }
      .el-col-5 {
        width: 220px;
      }
    }
    //二维码弹出框的样式
    .codePayment{
      .el-dialog{
        width:560px;
        height: 360px;
      }
      .el-dialog__body{
        margin-top: 15px;
        padding:0;
        text-align: center;
        img{
          margin-top: 30px;
          width:200px;
          height:200px;
        }
        p{
          span{
            color: red;
          }
        }
        >div{
          margin-top: 5px;
        }
      }
    }
  }

  //消费核销记录--------------------------------   2
  #ExpenseRecord{
    >.el-row{
      .el-form-item__label{
        padding: 11px 3px 11px 0;
      }
    }
    .el-date-editor .el-input{
      width:100%
    }
    //使用变量
    .selectPublic;
    .el-tabs__active-bar{
      transition: transform .2s cubic-bezier(.645,.045,.355,1)!important;
    }
    .el-tabs__item.is-active{
      border-bottom: 3px solid #20a0ff!important;
    }
    //弹出框 核销详情
    .verificationMessage{
      .el-dialog--small{
        width: 900px;
        .el-dialog__body{
          padding: 0;
          margin-top: 15px;
          max-height: 620px;
          overflow-y: auto;
          border-top: 1px solid #EEEEEE;
          >div{
            width: 840px;
            margin: 30px;
            border: solid 1px #dfe6ec;
            p{
              height: 40px;
              background-color: #eef1f6;
              line-height: 40px;
              padding-left: 30px;
            }
            >div{
              padding-left: 30px;
              margin:18px 0;
            }
          }
        }
      }
    }
    .searchBar{
      .el-form--inline {
        .el-form-item__content {
          width:67%;
        }
      }
      .el-date-editor--daterange.el-input {
        width: 92%;
      }
    }
  }

  //办理联盟卡---------------------------------  3
  #transaction{
    //公共样式
    .cardInformation{
      height: 40px;
      background-color: #eef1f6;
      box-sizing: border-box;
      padding:10px 30px ;
      font-weight: bold;
    }
    //办卡信息
    .handleCardInformation{
      width: 80%;
      height: 190px;
      border: solid 1px #dfe6ec;
      margin-bottom:25px ;
      >form{
        margin-top: 25px;
      }
    }
    //联盟卡列表
    .unionCardList{
      width: 80%;
      border: solid 1px #dfe6ec;
      margin-bottom:25px ;
      .unionCardListStatic{
        height: 310px;
        overflow-y: auto;
      }
    }


    .model_1 {
      .el-dialog--tiny {
        width: 560px;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

}

//财务页面所有样式---------------------------------------------------------------------------------------------3
#finance{
  //佣金样式
  .BroKerage {
    .el-table .cell {
      padding-left: 30px;
    }
    //弹出框样式
    .el-dialog--tiny {
      width: 650px;
      height: 360px;
    }
    .footer_ {
      .code_ {
        .el-dialog--tiny {
          height: 400px;
        }
      }
      .el-dialog--tiny {
        height: 445px;
      }
    }
    .el-dialog__body {
      padding: 0;
      margin-top: 15px;
    }
    .Popup_ {
      margin-top: 30px;
      padding-left: 50px;
      .el-form-item__error {
        top: 20%;
        left: 40%;
      }
    }
    .model_1 {
      .el-dialog--tiny {
        width: 560px;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
    .el-form-item__error:nth-child(3) {
      left: 62%;
    }
  }
  .DataStatistics{
    .BrokerageStatistics{
      >nav{
        display: flex;
      }
      >h3{
        margin: 20px 0 15px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
      }
    }
    .DiscountCardStatistics{
      >h3{
        margin: 30px 0 20px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
      }
      .btnGroup{
        margin:0 0 20px 395px ;
      }
    }
    .ActivityCardStatstics{
      >h3{
        margin: 20px 0 15px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
      }
      >nav{
        display: flex;
      }
    }
  }
}



//没有联盟的弹出框样式
#noRegister{
  .model_1{
    .el-dialog--tiny{
      width:450px;
    }
    .el-dialog__body {
      padding: 0;
    }
  }
}


//没有数据的样式
#noUnion,#noUnion1 {
  margin: 40px 110px 0 50px;
  margin-top: 30px;
  border:1px solid #ddd;
  text-align: center;
  padding:28px 0;
  img {
    width: 35px;
    margin-bottom: 10px;
  }
  p{
    font-size: 14px;
    color: #999999;
  }
}

//媒体查询适应响应式布局(当屏幕小于1680时)
@media screen and (max-width: 1680px){
  #ActivityCardSetting .activityCardsList{
    //活动卡规则
    .activityCardRule{
      p{
        span:nth-child(2){
          display: block!important;
          margin-left: inherit!important;
        }
      }
    }
  }
}
//媒体查询适应响应式布局
@media screen and (max-width: 1280px){
  //前台模块的响应式
  #front {
    #Verification {
      .validTime {
        display: block;
        margin-left: 0 !important;
      }
      .preferenceItems {
        width: 485px !important;
      }
      //活动卡规则
      #left-table {
        width: 232px !important;
      }
      .rightContent {
        width: 230px !important;
      }
    }
    #ExpenseRecord{
      .searchBar{
        .btn1{
          .el-button{
            padding: 8px 9px!important;
          }
        }
      }
    }
  }
  //我的联盟/活动卡页面响应式
  #UnionCardSetting{
    #ActivityCardSetting{
      .activityCardsList{
        .contentList{
          li:nth-child(1){
            left: -16px;
          }
          .el-button{
            display: block;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
//媒体查询适应响应式布局
@media screen and (max-width: 1400px){
  #front {
    #Verification {
      .section_{
        .el-table{
          .el-table__header {
            width: 232px !important;
          }
          .el-table__body{
            width: 232px !important;
          }
        }
      }
    }
  }
  //我的联盟/售卡佣金
  #sellCard{
    #ActivityCardSellDivide{
      .contentList{
        >p{
          font-size:13px;
        }
        .el-button--small {
          padding: 6px 4px!important;
        }
      }
    }
  }
  #brokeragePayStatistics{
    margin-left: 0px;
  }
  #sellBrokerageStatistics{
    margin-left: 0px;
  }
  #discountCardStatistics{
    width: 1080px!important;
    >div:nth-child(1){
      width: 1080px!important;
      canvas{
        width: 1080px!important;
      }
    }
  }
}
//（当屏幕大于1680时）
@media screen and (min-width: 1680px){
  #brokeragePayStatistics{
    margin-left: 300px;
  }
  #sellBrokerageStatistics{
    margin-left: 300px;
  }
  #discountCardStatistics{
    width: 1650px!important;
    >div:nth-child(1){
      width: 1650px!important;
      canvas{
        width: 1500px!important;
      }
    }
  }
}
