
.dr .chooseImgText{font-size: 12px;color: #bbb;position: relative;top: 22px;margin-left: 10px;}
.dr .el-dialog__headerbtn{padding: 4px 8px !important;}
.dr .el-dialog__headerbtn{padding: 4px 8px !important;}
.newBorder{border: 1px solid #ccc;border-radius: 4px;margin-left: 10px;}
.quill-editor { width: 375px;height: 450px;  float: left; }
.quill-editor:after{ clear: both; }
.ql-snow.ql-toolbar button svg, .ql-snow .ql-toolbar button svg{ height: 16px !important; margin-top: -5px !important; }
.infoList .dr button{padding: 9px 11px !important;}
.ql-toolbar.ql-snow{border-top-left-radius: 4px;border-top-right-radius: 4px;border: 1px solid #bfcbd9 !important;}
.ql-container.ql-snow{
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top: none!important;
}
.ql-editor{font-family: 微软雅黑;
  font-size: 14px;
}

/*滚动条样式*/
.ql-editor::-webkit-scrollbar {/*滚动条整体样式*/
  width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}
.ql-editor::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  background: rgba(0,0,0,.2);
}
.ql-editor::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

.ql-editor .ql-font-serif {font-family: 宋体 !important;}
.ql-editor .ql-font-monospace{font-family: 黑体 !important;}
.ql-editor .ql-size-small{font-size: 12px !important;}
.ql-editor .ql-size-large{font-size: 16px !important;}
.ql-editor .ql-size-huge{font-size: 18px !important;}
.ql-editor .ql_image{width: 100%;}

.infoList .infoCommon .dr .el-dialog__headerbtn{float: right !important;}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
  margin-right: 18px;
}




