<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.card.main.mapper.UnionCardRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gt.union.card.main.entity.UnionCardRecord">
        <id column="id" property="id"/>
        <result column="del_status" property="delStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="order_no" property="orderNo"/>
        <result column="wx_order_no" property="wxOrderNo"/>
        <result column="alipay_order_no" property="alipayOrderNo"/>
        <result column="pay_type" property="payType"/>
        <result column="pay_status" property="payStatus"/>
        <result column="pay_money" property="payMoney"/>
        <result column="activity_id" property="activityId"/>
        <result column="card_id" property="cardId"/>
        <result column="fan_id" property="fanId"/>
        <result column="member_id" property="memberId"/>
        <result column="union_id" property="unionId"/>
    </resultMap>

</mapper>