<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.card.consume.mapper.UnionConsumeProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gt.union.card.consume.entity.UnionConsumeProject">
        <id column="id" property="id"/>
        <result column="del_status" property="delStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="type" property="type"/>
        <result column="consume_id" property="consumeId"/>
        <result column="project_item_id" property="projectItemId"/>
        <result column="project_id" property="projectId"/>
    </resultMap>

</mapper>