@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 0.65rem;
}
body {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  font-family: '微软雅黑';
  font-size: 0.65rem;
}
.line {
  position: relative;
}
.line :after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
a:link {
  text-decoration: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
li {
  list-style: none;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
input,
select,
textarea {
  outline: none;
  text-indent: 0.26rem;
}
textarea.el-textarea__inner {
  resize: none;
  width: 12.8rem;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.flex-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}
.flex-7 {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7;
}
.flex-8 {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
.passive {
  display: none;
}
.passive {
  display: none;
}
.el-dialog--tiny {
  width: 80%;
}
.header_Css {
  background: url("../../assets/images/bg-3.png") no-repeat;
  background-size: 100% ;
  padding: 0.7rem 0.7rem 0 0.7rem;
}
.header_Css .back__ {
  width: 1rem;
  height: 1rem;
}
.header_Css .union_head {
  width: 4.7rem;
}
.header_Css .union_head img {
  width: 1rem;
  height: 0.82rem;
}
.header_Css .union_head span {
  color: #ffffff;
  font-size: 0.65rem;
}
.header_Css .union_second {
  margin-top: 0.5rem;
}
.header_Css .union_second p {
  color: #ffffff;
  font-size: 1.8rem;
}
.header_Css .union_second span {
  color: #ffffff;
  font-weight: bold;
}
.header_Css .union_second .payment {
  display: block;
  width: 4.13rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0.6rem;
}
.header_Css .union_second .payment a {
  color: #FFFFFF;
}
.record {
  margin-top: 4rem;
  color: #39a8ff;
  font-size: 0.725rem;
  border-bottom: 1px solid #F3F3F3;
  padding-bottom: 0.8rem;
}
.footer_Css {
  margin-top: 0.4rem;
}
.footer_Css ul li {
  margin-top: 0.53rem;
  padding-bottom: 0.43rem;
  border-bottom: 1px solid rgba(221, 221, 221, 0.34);
  /*右边>图标的样式*/
}
.footer_Css ul li .greater-than {
  position: relative;
  top: 0.533rem;
  left: 0.16rem;
  font-weight: bold;
}
.box-wrap,
.box-wrap2,
.box-wrap3 {
  width: 100%;
  height: 100%;
  /* background: red; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.box-wrap .mask,
.box-wrap2 .mask,
.box-wrap3 .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.44);
}
.box-wrap .box,
.box-wrap2 .box,
.box-wrap3 .box {
  position: absolute;
  background: white;
  z-index: 5;
  border-radius: 0.426rem;
  border: 1px solid white;
  right: 3.5rem;
  padding: 0 0.16rem;
  top: 2.2rem;
  min-width: 6.5rem;
}
.box-wrap .box ul li,
.box-wrap2 .box ul li,
.box-wrap3 .box ul li {
  border-bottom: 1px solid #E7E5E5;
  padding: .53rem 1.33rem;
  text-align: center;
}
.box-wrap .box ul li:last-child,
.box-wrap2 .box ul li:last-child,
.box-wrap3 .box ul li:last-child {
  border-bottom: none;
}
.box-wrap #triangle-up,
.box-wrap2 #triangle-up,
.box-wrap3 #triangle-up {
  width: 0;
  height: 0;
  border-left: 0.48rem solid transparent;
  border-right: 0.43rem solid transparent;
  border-bottom: 0.4rem solid white;
  top: -0.4rem;
  position: absolute;
  right: 0.3rem;
}
.supportIcon {
  margin-bottom: 1rem;
  margin-top: 1rem;
  z-index: 2;
}
.supportIcon img {
  width: 8rem;
  margin-left: 5.90rem;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  min-height: 100vh;
}
.main .Orders {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#Index0 {
  background: url("../../assets/images/ZXBG_01.png") no-repeat;
  background-color: #F6F6F6;
  background-size: 100%;
  padding-top: 0.48rem;
}
#Index0 .main-title {
  text-align: center;
  padding: 1.0rem auto 1rem auto;
  color: white;
  font-weight: bold;
}
#Index0 .main-title h1 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#Index0 .main-title p {
  font-size: 1.6rem;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  font-weight: normal;
}
#Index0 .main-title span {
  font-size: 0.65rem;
}
#Index0 .main-wrap {
  color: white;
  margin-top: 2.4rem;
  margin-bottom: 3.4rem;
}
#Index0 .main-wrap strong {
  text-align: center;
  margin-bottom: 0.2rem;
  display: block;
  color: white;
}
#Index0 .main-wrap p {
  text-align: center;
  font-size: 0.65rem;
  color: white;
}
#Index0 .main-wrap strong {
  font-size: 0.65rem;
}
#Index0 .main-wrap .tubiao {
  position: absolute;
  top: 0.3rem;
  left: 9.9rem;
  border-left: 0.008rem solid #ffffff;
  height: 1.3rem;
}
#Index0 .main_list {
  width: 90%;
  margin: 1rem 0.827rem 0.533rem 0.827rem;
  background-color: #ffffff;
  padding: 1.5rem 0;
}
#Index0 .main_list img {
  width: 3.2rem;
  height: 3.388rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#Index0 .main_list > div {
  padding-top: 0.5rem;
}
#Index0 .main_list > div h2 {
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
}
#Index0 .main_list > div p {
  font-size: 0.7rem;
}
#toPayList {
  background: url("../../assets/images/bg-3.png") no-repeat;
  background-size: 100% ;
  padding: 0.7rem 0.7rem 0 0.7rem;
}
#toPayList .back__ {
  width: 1rem;
  height: 1rem;
}
#toPayList .union_head {
  width: 4.7rem;
}
#toPayList .union_head img {
  width: 1rem;
  height: 0.82rem;
}
#toPayList .union_head span {
  color: #ffffff;
  font-size: 0.65rem;
}
#toPayList .union_second {
  margin-top: 0.5rem;
}
#toPayList .union_second p {
  color: #ffffff;
  font-size: 1.8rem;
}
#toPayList .union_second span {
  color: #ffffff;
  font-weight: bold;
}
#toPayList .union_second .payment {
  display: block;
  width: 4.13rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0.6rem;
}
#toPayList .union_second .payment a {
  color: #FFFFFF;
}
#toPayList .box-wrap2 .mask,
#toPayList .box-wrap3 .mask {
  background: rgba(0, 0, 0, 0.2);
}
#toPayList .box-wrap2 .box,
#toPayList .box-wrap3 .box {
  border-radius: 0.3rem;
  right: 2rem;
  padding: 0 0.08rem;
  top: 9.2rem;
  width: 14.9rem;
}
#toPayList .box-wrap2 .box p,
#toPayList .box-wrap3 .box p {
  padding: 2rem 1.5rem 2rem 1.5rem;
  font-size: 0.75rem!important;
  color: #999999;
  border-bottom: 0.01rem solid #D2D3D5;
}
#toPayList .box-wrap2 .box div,
#toPayList .box-wrap3 .box div {
  border-left: 0.01rem solid #D2D3D5;
  padding: 1rem 3.1rem;
  font-size: 0.8rem;
}
#toPayList .box-wrap2 .box div:nth-of-type(1),
#toPayList .box-wrap3 .box div:nth-of-type(1) {
  color: #00c200;
}
#toPayList .detail-wrap {
  margin-top: 3.533333rem;
  position: relative;
  min-height: 69%;
}
#toPayList .detail-wrap .record {
  color: #39a8ff;
  font-size: 0.725rem;
}
#toPayList .detail-wrap .payTab {
  position: absolute;
  width: 7.5rem;
  left: 50%;
  margin-left: -3.1rem;
  text-align: center;
  border: 0.02rem solid #39a7ff;
  border-radius: 0.5rem;
  color: #39a7ff;
}
#toPayList .detail-wrap .payTab div {
  padding: 0.1rem 0.2rem;
  font-size: 0.35rem;
  text-align: center;
  width: 50%;
  border-radius: 0.8rem 0 0 0.8rem;
}
#toPayList .detail-wrap .payTab div:nth-of-type(1) {
  border-radius: 0.8rem 0 0 0.8rem;
}
#toPayList .detail-wrap .payTab div:nth-of-type(2) {
  border-radius: 0 0.8rem 0.8rem 0;
}
#toPayList .detail-wrap .payTab .focusPay {
  background: #39a7ff;
  color: white;
  background: -webkit-linear-gradient(top, #3ad1ff, #39aaff);
  background: linear-gradient(top, #3ad1ff, #39aaff);
}
#toPayList .detail-wrap .payed ul li,
#toPayList .detail-wrap .unpay ul li {
  margin-top: 0.90rem;
  position: relative;
  padding-bottom: 0.42rem;
  border-bottom: 0.02rem solid rgba(221, 221, 221, 0.34);
}
#toPayList .detail-wrap .payed ul li p,
#toPayList .detail-wrap .unpay ul li p {
  line-height: 1.06rem;
  font-size: 0.8rem;
}
#toPayList .detail-wrap .payed ul li .goPay,
#toPayList .detail-wrap .unpay ul li .goPay {
  width: auto !important;
  line-height: 0.34rem;
  height: 1.34rem;
  text-align: center;
  padding: 0.106rem 0.22rem;
  color: white;
  margin: 0.2rem;
  vertical-align: bottom;
  background: #39abff;
  border-radius: 0.16rem;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
}
#toPayList .detail-wrap .unpay .el-dialog__header {
  display: none;
}
#toUnPayList {
  background: url("../../assets/images/bg-3.png") no-repeat;
  background-size: 100% ;
  padding: 0.7rem 0.7rem 0 0.7rem;
}
#toUnPayList .back__ {
  width: 1rem;
  height: 1rem;
}
#toUnPayList .union_head {
  width: 4.7rem;
}
#toUnPayList .union_head img {
  width: 1rem;
  height: 0.82rem;
}
#toUnPayList .union_head span {
  color: #ffffff;
  font-size: 0.65rem;
}
#toUnPayList .union_second {
  margin-top: 0.5rem;
}
#toUnPayList .union_second p {
  color: #ffffff;
  font-size: 1.8rem;
}
#toUnPayList .union_second span {
  color: #ffffff;
  font-weight: bold;
}
#toUnPayList .union_second .payment {
  display: block;
  width: 4.13rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0.6rem;
}
#toUnPayList .union_second .payment a {
  color: #FFFFFF;
}
#toUnPayList .footer_Css img {
  width: 0.98rem;
  height: 1.09rem;
  position: relative;
  top: 0.08rem;
  left: 0.4rem;
}
#toUnPayList .footer_Css .box-wrap2 .mask {
  background: rgba(0, 0, 0, 0.2);
}
#toUnPayList .footer_Css .box-wrap2 .box {
  border-radius: 0.3rem;
  right: 2rem;
  padding: 0 0.08rem;
  top: 9.2rem;
  width: 14.9rem;
}
#toUnPayList .footer_Css .box-wrap2 .box p {
  padding: 2.26rem 2.37rem 2.05rem 2.61rem;
  font-size: 0.75rem;
  color: #999999;
  border-bottom: 0.01rem solid #D2D3D5;
}
#toUnPayList .footer_Css .box-wrap2 .box div {
  border-left: 0.01rem solid #D2D3D5;
  padding: 1rem 3.1rem;
  font-size: 0.8rem;
}
#toUnPayList .footer_Css .box-wrap2 .box div:nth-of-type(1) {
  color: #00c200;
}
#toExtract {
  background: url("../../assets/images/bg-3.png") no-repeat;
  background-size: 100% ;
  padding: 0.7rem 0.7rem 0 0.7rem;
}
#toTxtract .back__ {
  width: 1rem;
  height: 1rem;
}
#toTxtract .union_head {
  width: 4.7rem;
}
#toTxtract .union_head img {
  width: 1rem;
  height: 0.82rem;
}
#toTxtract .union_head span {
  color: #ffffff;
  font-size: 0.65rem;
}
#toTxtract .union_second {
  margin-top: 0.5rem;
}
#toTxtract .union_second p {
  color: #ffffff;
  font-size: 1.8rem;
}
#toTxtract .union_second span {
  color: #ffffff;
  font-weight: bold;
}
#toTxtract .union_second .payment {
  display: block;
  width: 4.13rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0.6rem;
}
#toTxtract .union_second .payment a {
  color: #FFFFFF;
}
#toTxtract .wantMoney-wrap {
  margin-top: 1.6rem;
}
#toTxtract .wantMoney-wrap li {
  width: 49%;
  display: inline-block;
  margin-bottom: 1.3rem;
}
#toTxtract .wantMoney-wrap li div {
  padding-left: 0.66666667rem;
}
#toTxtract .wantMoney-wrap li div span {
  color: #999999;
}
#toTxtract .wantMoney-wrap li div h2 {
  font-size: 0.96rem;
  line-height: 1.49rem;
  font-weight: normal;
}
#toTxtract .wantMoney-wrap li:nth-of-type(1),
#toTxtract .wantMoney-wrap li:nth-of-type(3) {
  border-right: 0.05rem solid #E7E5E5;
}
#toTxtract .wantMoney-wrap strong {
  text-align: center;
  margin-bottom: 0.4rem;
  display: block;
}
#toTxtract .wantMoney-input {
  margin-top: 3.5rem;
}
#toTxtract .wantMoney-input input {
  margin-top: 4.8rem;
  width: 94%;
  height: 2.13rem;
  text-align: center;
  margin: 0.96rem auto;
  line-height: 2.13rem;
  color: white;
  overflow: hidden;
  border-radius: 0.43rem;
  display: block;
  border: 1px solid #f2f2f2;
  font-size: 0.8rem;
}
#toTxtract .button-btn {
  display: block;
  background-color: #CCCCCC;
  background-size: 100% 100% !important;
  width: 94%;
  height: 2.13rem;
  text-align: center;
  margin: 0.96rem auto;
  line-height: 2.13rem;
  color: white;
  overflow: hidden;
  border-radius: 0.43rem;
  font-size: 0.8rem;
  border: none;
}
#toTxtract .wantMoney-table {
  min-height: 30%;
  position: relative;
}
#toTxtract .wantMoney-table p {
  margin-bottom: 0.3rem;
  margin-left: 0.4rem;
}
#toTxtract .wantMoney-table .table-list {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#toTxtract .wantMoney-table .table-list tr {
  border-bottom: 1px solid #f2f2f2;
  line-height: 1.49rem;
  height: 1.49rem;
}
#toTxtract .wantMoney-table thead tr td,
#toTxtract .wantMoney-table tbody tr td {
  text-align: center;
  overflow: hidden;
  text-overflow: clip;
  color: #868686;
}
#toTxtract .wantMoney-table thead tr td:nth-of-type(1),
#toTxtract .wantMoney-table tbody tr td:nth-of-type(1) {
  text-align: left;
  padding-left: 0.5rem;
  width: 40%;
}
#toTxtract .wantMoney-table tbody tr td:not(:first-child) {
  overflow: hidden;
  text-overflow: clip;
}
#toTxtract .wantMoney-table .table-list .table-list-head div {
  display: table-cell;
}
#toTxtract .box-wrap2 .mask {
  background: rgba(0, 0, 0, 0.2);
}
#toTxtract .box-wrap2 .box {
  border-radius: 0.3rem;
  right: 2rem;
  padding: 0 0.16rem;
  top: 9.2rem;
  width: 14.9rem;
}
#toTxtract .box-wrap2 .box p {
  padding: 2.26rem 2.37rem 2.05rem 2.61rem;
  font-size: 0.75rem;
  color: #999999;
  border-bottom: 0.01rem solid #D2D3D5;
}
#toTxtract .box-wrap2 .box div {
  border-left: 0.01rem solid #D2D3D5;
  padding: 1rem 3.1rem;
  font-size: 0.8rem;
}
#toTxtract .box-wrap2 .box div:nth-of-type(1) {
  color: #00c200;
}
#toDetailList {
  background: url("../../assets/images/bg-3.png") no-repeat;
  background-size: 100% ;
  padding: 0.7rem 0.7rem 0 0.7rem;
}
#toDetailList .back__ {
  width: 1rem;
  height: 1rem;
}
#toDetailList .union_head {
  width: 4.7rem;
}
#toDetailList .union_head img {
  width: 1rem;
  height: 0.82rem;
}
#toDetailList .union_head span {
  color: #ffffff;
  font-size: 0.65rem;
}
#toDetailList .union_second {
  margin-top: 0.5rem;
}
#toDetailList .union_second p {
  color: #ffffff;
  font-size: 1.8rem;
}
#toDetailList .union_second span {
  color: #ffffff;
  font-weight: bold;
}
#toDetailList .union_second .payment {
  display: block;
  width: 4.13rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 0.6rem;
}
#toDetailList .union_second .payment a {
  color: #FFFFFF;
}
#toDetailList .detail-wrap {
  margin-top: 3.533333rem;
  position: relative;
  min-height: 69%;
}
#toDetailList .detail-wrap .record {
  color: #39a8ff;
  font-size: 0.725rem;
}
#toDetailList .detail-wrap .payTab {
  position: absolute;
  width: 7.5rem;
  left: 50%;
  margin-left: -3.1rem;
  text-align: center;
  border: 1px solid #39a7ff;
  border-radius: 0.5rem;
  color: #39a7ff;
}
#toDetailList .detail-wrap .payTab div {
  padding: 0.1rem 0.2rem;
  font-size: 0.35rem;
  text-align: center;
  width: 50%;
  border-radius: 0.48rem 0 0 0.48rem;
}
#toDetailList .detail-wrap .payTab div:nth-of-type(1) {
  border-radius: 0.48rem 0 0 0.48rem;
}
#toDetailList .detail-wrap .payTab div:nth-of-type(2) {
  border-radius: 0 0.48rem 0.48rem 0;
}
#toDetailList .detail-wrap .payTab .focusPay {
  background: #39a7ff;
  color: white;
  background: -webkit-linear-gradient(top, #3ad1ff, #39aaff);
  background: linear-gradient(top, #3ad1ff, #39aaff);
}
#toDetailList .detail-wrap .payed ul li,
#toDetailList .detail-wrap .unpay ul li {
  margin-top: 0.91rem;
  position: relative;
  padding-bottom: 0.43rem;
  border-bottom: 1px solid rgba(221, 221, 221, 0.34);
}
#toDetailList .detail-wrap .payed ul li p,
#toDetailList .detail-wrap .unpay ul li p {
  line-height: 1.07rem;
  font-size: 0.4rem;
}
#toLogin {
  background: url("../../assets/images/bg.png") no-repeat;
  background-size: 100% 100%;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#toLogin h1 {
  text-align: center;
  padding: 4.6rem 0 2.6rem 0;
  color: white;
  font-size: 1.45rem;
  font-weight: bold;
}
#toLogin .check-wrap,
#toLogin .check-phone {
  width: 14.133333rem;
  margin: 0 auto;
  position: relative;
}
#toLogin .check-wrap .check-wrap-div,
#toLogin .check-phone .check-wrap-div {
  position: relative;
  border-bottom: 0.01rem solid white;
  padding: 0.27rem 0;
  margin-bottom: 0.53rem;
}
#toLogin .check-wrap .check-wrap-div img,
#toLogin .check-phone .check-wrap-div img {
  width: 0.8rem;
  vertical-align: bottom;
}
#toLogin .check-wrap .check-wrap-div input,
#toLogin .check-phone .check-wrap-div input {
  background: none;
  border: none;
  color: white;
  display: inline-block;
  padding: 0.27rem 0;
  width: 80%;
  font-size: 0.85rem;
}
#toLogin .check-wrap .check-wrap-div input placeholder,
#toLogin .check-phone .check-wrap-div input placeholder {
  color: #ddd;
}
#toLogin .check-wrap .check-wrap-div input::-webkit-input-placeholder,
#toLogin .check-phone .check-wrap-div input::-webkit-input-placeholder,
#toLogin .check-wrap .check-wrap-div textarea::-webkit-input-placeholder,
#toLogin .check-phone .check-wrap-div textarea::-webkit-input-placeholder {
  color: white;
}
#toLogin .check-wrap .check-wrap-div .checkCode,
#toLogin .check-phone .check-wrap-div .checkCode {
  position: absolute;
  /* bottom: 0.3rem; */
  width: 5.33rem;
  height: 1.6rem;
  color: white;
  /* background: red; */
  /* right: -0.4rem; */
  top: 50%;
  /* padding: 0.2rem 0; */
  margin-top: -0.8rem;
  /* bottom: 0.05rem; */
}
#toLogin .check-wrap #message_,
#toLogin .check-phone #message_ {
  position: absolute;
  top: 6.5rem;
  color: #ffffff;
  font-size: 0.672rem;
}
#toLogin .login-btn {
  width: 13.013333rem;
  height: 2.24rem;
  border-radius: 1.6rem;
  background: white;
  margin: 5rem auto 1rem;
  text-align: center;
  line-height: 2.24rem;
  color: #39ACFF;
  box-shadow: 0.106rem 0.106rem 0.106rem #39B6FF;
  font-size: 0.8rem;
}
#toLogin .User_phone,
#toLogin .User_name {
  text-align: center;
  color: #ffffff;
}
#unionCard {
  padding: 1rem 1.5rem;
}
#unionCard .position_ > img {
  width: 17rem;
  height: 10.24rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
}
#unionCard > h1 {
  position: absolute;
  top: 9.1rem;
  left: 16.3rem;
}
#unionCard > h1 img {
  width: 1.5rem;
}
#unionCard > h2 {
  position: absolute;
  top: 9.6rem;
  left: 2.4rem;
  color: #AC8133;
  width: 6rem;
  font-size: 0.9rem;
}
#unionCard .second_ > img {
  width: 2.92rem;
  margin-right: 0.3rem;
}
#unionCard .second_ > div {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #dddddd;
}
#unionCard .second_ > div > div span,
#unionCard .second_ > div > div h1 {
  font-size: 0.805rem;
}
#unionCard .second_ > div > div span {
  color: #90A4AE;
}
#unionCard .second_ > div > span {
  font-size: 0.72rem;
}
#unionCard .second_ > div > p {
  font-size: 0.64rem;
  color: #D0D0D0;
}
#unionCard .third_ > li {
  padding: 1rem 0.3rem 1rem 0.3rem;
  border-bottom: 0.01rem solid #dddddd;
}
#unionCard .third_ > li > span {
  font-size: 0.7246rem;
}
#unionCard .third_ > li > b {
  font-size: 0.38rem;
}
#unionCard .third_ > li > ul {
  background: #F9F9FD;
  margin-top: 1rem;
  width: 121%;
  position: relative;
  left: -1.72rem;
}
#unionCard .third_ > li > ul > li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem 0.6rem 0rem 1.5rem;
  border-bottom: 0.01rem solid #dddddd;
}
#unionCard .third_ > li > ul > li > div {
  font-size: 0.6442rem;
  margin-bottom: 0.55rem;
}
#unionCard .third_ > li > ul > li > p {
  padding-bottom: 1rem;
}
#unionCard .third_ > li > ul > li > p > button {
  background: #1EC054;
  padding: 0.2rem;
  border: none;
  color: #E2F6E8;
  border-radius: 0.2rem;
  font-size: 0.6442rem;
}
#unionCard .box-wrap,
#unionCard .box-wrap1 {
  width: 100%;
  height: 100%;
  /* background: red; */
  position: fixed;
  left: 0;
  top: 0;
}
#unionCard .box-wrap .mask,
#unionCard .box-wrap1 .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.44);
}
#unionCard .box-wrap .box,
#unionCard .box-wrap1 .box {
  position: absolute;
  background: white;
  z-index: 5;
  border-radius: 0.43rem;
  border: 1px solid white;
  left: 17%;
  padding: 0 0.16rem;
  top: 20%;
  width: 66%;
}
#unionCard .box-wrap .box ul li,
#unionCard .box-wrap1 .box ul li {
  border-bottom: 0.09rem solid #4CCD77;
  padding: 0.6rem 0.5rem;
  text-align: center;
}
#unionCard .box-wrap .box > div,
#unionCard .box-wrap1 .box > div {
  margin: 0.85rem 0.72rem;
}
#unionCard .box-wrap .box > div > span,
#unionCard .box-wrap1 .box > div > span {
  font-size: 0.67rem;
}
#unionCard .box-wrap .box > div > div,
#unionCard .box-wrap1 .box > div > div {
  text-align: center;
  border-bottom: 0.05rem solid #A8A8A8;
}
#unionCard .box-wrap .box > div > div span,
#unionCard .box-wrap1 .box > div > div span {
  font-size: 0.75rem;
}
#unionCard .box-wrap .box > div > div p,
#unionCard .box-wrap1 .box > div > div p {
  font-size: 1.74rem;
  margin: 0.1rem auto;
}
#unionCard .box-wrap .box > div .select_ div,
#unionCard .box-wrap1 .box > div .select_ div {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: normal;
}
#unionCard .box-wrap .box > div .select_ h6,
#unionCard .box-wrap1 .box > div .select_ h6 {
  padding: 0.5rem 0;
  border-bottom: 0.01rem solid #ddd;
  color: #B8B8B8;
}
#unionCard .box-wrap .box > div form,
#unionCard .box-wrap1 .box > div form {
  margin-bottom: 2.5rem;
}
#unionCard .box-wrap .box > div form > div,
#unionCard .box-wrap1 .box > div form > div {
  border-bottom: 0.05rem solid #A8A8A8;
  padding-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
}
#unionCard .box-wrap .box > div form > div #message_,
#unionCard .box-wrap1 .box > div form > div #message_ {
  position: absolute;
  top: 2.5rem;
  color: red;
  font-size: 0.672rem;
}
#unionCard .box-wrap .box > div > button,
#unionCard .box-wrap1 .box > div > button {
  width: 100%;
  padding: 0.72rem 0;
  color: #80D496;
  background: #1FC055;
  border: none;
  border-radius: 0.2rem;
  margin-top: 0.8rem;
}
#unionCard .box-wrap2 .mask {
  background: #ffffff;
}
#unionCard .box-wrap2 .box {
  border-radius: 0;
  width: 100%;
  right: 0;
  top: 0;
  border-width: 0;
  padding: 0;
}
#unionCard .box-wrap2 .box .first_ {
  color: #43C96E;
  font-size: 0.8rem;
  float: right;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
#unionCard .box-wrap2 .box .second_ {
  margin-top: 9rem;
  text-align: center;
}
#unionCard .box-wrap2 .box .second_ h6 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: normal;
}
#unionCard .box-wrap2 .box .second_ > img {
  width: 12rem;
  margin-right: 0;
}
#unionCard .box-wrap2 .box .second_ > span {
  color: #BEBEBE;
}
#unionLogin .login_ {
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 0.01rem solid #cccccc;
  position: relative;
}
#unionLogin .login_ span {
  font-size: 0.8054rem;
  font-weight: bold;
  margin-left: 0.84rem;
}
#unionLogin .login_ input {
  font-size: 0.8054rem;
}
#unionLogin .login_ button {
  height: 2.5rem;
  width: 5.76rem;
  background-color: #ffffff;
  border: none;
  border-left: 0.01rem solid #cccccc;
  color: #98989F;
  font-size: 0.8054rem;
}
#unionLogin .login_ .btn0:focus {
  color: #ffffff;
  background-color: #1FC055;
  border: 0.05rem solid #1FC055!important;
}
#unionLogin .login_ #message_ {
  position: absolute;
  top: 2.5rem;
  color: red;
  font-size: 0.672rem;
  left: 0.8rem;
}
#unionLogin > button {
  width: 90%;
  display: block;
  margin: 2.46rem auto;
  background-color: #1FC055 ;
  border: none;
  border-radius: 0.213rem;
  height: 2.16rem;
  color: #ffffff;
  font-size: 0.8054rem;
}
