<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.brokerage.mapper.UnionBrokerageRatioMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.brokerage.entity.UnionBrokerageRatio">
		<id column="id" property="id" />
		<result column="createtime" property="createtime" />
		<result column="del_status" property="delStatus" />
		<result column="from_member_id" property="fromMemberId" />
		<result column="to_member_id" property="toMemberId" />
		<result column="ratio" property="ratio" />
		<result column="modifytime" property="modifytime" />
	</resultMap>


	<!-- 根据盟员id和联盟id查询盟员的佣金比列表 -->
    <select id="pageBrokerageRatio" resultType="com.gt.union.brokerage.vo.UnionBrokerageRatioVO">
		SELECT m.id toMemberId, m.enterprise_name enterpriseName, r1.ratio toRatio, r2.ratio fromRatio from
		(SELECT id, enterprise_name from t_union_member WHERE union_id = #{unionId} and del_status = 0) m
		LEFT JOIN t_union_brokerage_ratio r1 on r1.from_member_id = m.id and r1.to_member_id = #{memberId}
		LEFT JOIN t_union_brokerage_ratio r2 on r2.to_member_id = m.id and r2.from_member_id = #{memberId} WHERE m.id != #{memberId}
	</select>

</mapper>
