<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.consume.mapper.UnionConsumeItemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.consume.entity.UnionConsumeItem">
		<id column="id" property="id" />
		<result column="del_status" property="delStatus" />
		<result column="createtime" property="createtime" />
		<result column="consume_id" property="consumeId" />
		<result column="preferential_item_id" property="preferentialItemId" />
	</resultMap>

</mapper>
