{{define "dao.xml.template"}}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{.PackagePath}}.mapper.{{.ModelName}}Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="{{.PackagePath}}.entity.{{.ModelName}}">{{range .Columns}}
	    {{if eq "PRI" .ColumnKey}}<id {{else}}<result {{end}}column="{{.ColumnName}}" property="{{.FieldName}}" />{{end}}
	</resultMap>

</mapper>{{end}}