@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 0.65rem;
}
body {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  font-family: '微软雅黑';
  font-size: 0.65rem;
}
.line {
  position: relative;
}
.line :after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
a:link {
  text-decoration: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
li {
  list-style: none;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
input,
select,
textarea {
  outline: none;
  text-indent: 0.26rem;
}
textarea.el-textarea__inner {
  resize: none;
  width: 240px;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.flex-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
}
.flex-7 {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7;
}
.flex-8 {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
.passive {
  display: none;
}
.passive {
  display: none;
}
.box-wrap,
.box-wrap2,
.box-wrap3 {
  width: 100%;
  height: 100%;
  /* background: red; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.box-wrap .mask,
.box-wrap2 .mask,
.box-wrap3 .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.44);
}
.box-wrap .box,
.box-wrap2 .box,
.box-wrap3 .box {
  position: absolute;
  background: white;
  z-index: 5;
  border-radius: 0.35rem;
  border: 1px solid white;
  right: 3.5rem;
  padding: 0 0.16rem;
  top: 2.2rem;
  min-width: 6.5rem;
}
.box-wrap .box ul li,
.box-wrap2 .box ul li,
.box-wrap3 .box ul li {
  border-bottom: 1px solid #E7E5E5;
  padding: 0.534rem 1.335rem;
  text-align: center;
}
.box-wrap .box ul li:last-child,
.box-wrap2 .box ul li:last-child,
.box-wrap3 .box ul li:last-child {
  border-bottom: none;
}
.supportIcon {
  margin-bottom: 1rem;
  margin-top: 1rem;
  z-index: 2;
}
.supportIcon img {
  width: 8rem;
  margin-left: 5.90rem;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  min-height: 100vh;
}
.main .Orders {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#unionCard {
  padding: 1rem 1.5rem;
}
#unionCard .position_ > img {
  width: 17rem;
  height: 10.24rem;
  margin-left: 0.2rem;
  margin-bottom: 0.5rem;
}
#unionCard .starts_ {
  position: absolute;
  top: 6.1rem;
  left: 7.8rem;
}
#unionCard .starts_ > img {
  width: 0.7rem;
}
#unionCard > h1 {
  position: absolute;
  top: 9.1rem;
  left: 16.3rem;
}
#unionCard > h1 img {
  width: 1.5rem;
}
#unionCard > h2 {
  position: absolute;
  top: 9.6rem;
  left: 2.4rem;
  color: #AC8133;
  width: 6rem;
  font-size: 0.9rem;
}
#unionCard .second_ > img {
  width: 2.92rem;
  margin-right: 0.3rem;
}
#unionCard .second_ > div {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #dddddd;
}
#unionCard .second_ > div > div span,
#unionCard .second_ > div > div h1 {
  font-size: 0.805rem;
}
#unionCard .second_ > div > div span {
  color: #90A4AE;
}
#unionCard .second_ > div > span {
  font-size: 0.72rem;
}
#unionCard .second_ > div > p {
  font-size: 0.64rem;
  color: #D0D0D0;
}
#unionCard .third_ .unionLi > div {
  margin: 1rem 0.3rem 1rem 0.3rem;
  border-bottom: 0.01rem solid #dddddd;
  padding-bottom: 1rem;
}
#unionCard .third_ .unionLi > span {
  font-size: 0.7246rem;
}
#unionCard .third_ .unionLi > b {
  font-size: 0.38rem;
}
#unionCard .third_ .unionLi > ul {
  background: #F9F9FD;
  width: 119%;
  position: relative;
  left: -1.72rem;
}
#unionCard .third_ .unionLi > ul .li_Li {
  border-bottom: 0.01rem solid #dddddd;
  padding-top: .8rem;
  padding-left: 2rem;
}
#unionCard .third_ .unionLi > ul .li_Li > div {
  font-size: 0.6442rem;
  margin-bottom: 0.55rem;
}
#unionCard .third_ .unionLi > ul .li_Li > div > p {
  margin-right: 1.8rem;
}
#unionCard .third_ .unionLi > ul .li_Li > p {
  padding-bottom: 1rem;
}
#unionCard .third_ .unionLi > ul .li_Li > p > button {
  background: #1EC054;
  padding: 0.2rem;
  border: none;
  color: #E2F6E8;
  border-radius: 0.2rem;
  font-size: 0.6442rem;
}
#unionCard .box-wrap,
#unionCard .box-wrap1 {
  width: 100%;
  height: 100%;
  /* background: red; */
  position: fixed;
  left: 0;
  top: 0;
}
#unionCard .box-wrap .mask,
#unionCard .box-wrap1 .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.44);
}
#unionCard .box-wrap .box,
#unionCard .box-wrap1 .box {
  position: absolute;
  background: white;
  z-index: 5;
  border-radius: 0.35rem;
  border: 1px solid white;
  left: 17%;
  padding: 0 0.17rem;
  top: 20%;
  width: 66%;
}
#unionCard .box-wrap .box ul li,
#unionCard .box-wrap1 .box ul li {
  border-bottom: 0.09rem solid #4CCD77;
  padding: 0.6rem 0.5rem;
  text-align: center;
}
#unionCard .box-wrap .box > div,
#unionCard .box-wrap1 .box > div {
  margin: 0.85rem 0.72rem;
}
#unionCard .box-wrap .box > div > span,
#unionCard .box-wrap1 .box > div > span {
  font-size: 0.67rem;
}
#unionCard .box-wrap .box > div > div,
#unionCard .box-wrap1 .box > div > div {
  text-align: center;
  border-bottom: 0.05rem solid #A8A8A8;
}
#unionCard .box-wrap .box > div > div span,
#unionCard .box-wrap1 .box > div > div span {
  font-size: 0.75rem;
}
#unionCard .box-wrap .box > div > div p,
#unionCard .box-wrap1 .box > div > div p {
  font-size: 1.74rem;
  margin: 0.1rem auto;
}
#unionCard .box-wrap .box > div .select_ div,
#unionCard .box-wrap1 .box > div .select_ div {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: normal;
}
#unionCard .box-wrap .box > div .select_ h6,
#unionCard .box-wrap1 .box > div .select_ h6 {
  padding: 0.5rem 0;
  border-bottom: 0.01rem solid #ddd;
  color: #B8B8B8;
}
#unionCard .box-wrap .box > div form,
#unionCard .box-wrap1 .box > div form {
  margin-bottom: 2.5rem;
}
#unionCard .box-wrap .box > div form > div,
#unionCard .box-wrap1 .box > div form > div {
  border-bottom: 0.05rem solid #A8A8A8;
  padding-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
}
#unionCard .box-wrap .box > div form > div #message_,
#unionCard .box-wrap1 .box > div form > div #message_ {
  position: absolute;
  top: 2.5rem;
  color: red;
  font-size: 0.672rem;
}
#unionCard .box-wrap .box > div > button,
#unionCard .box-wrap1 .box > div > button {
  width: 100%;
  padding: 0.72rem 0;
  color: #80D496;
  background: #1FC055;
  border: none;
  border-radius: 0.2rem;
  margin-top: 0.8rem;
}
#unionCard .box-wrap2 .mask {
  background: #ffffff;
}
#unionCard .box-wrap2 .box {
  border-radius: 0;
  width: 100%;
  right: 0;
  top: 0;
  border-width: 0;
  padding: 0;
}
#unionCard .box-wrap2 .box .first_ {
  color: #43C96E;
  font-size: 0.8rem;
  float: right;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
#unionCard .box-wrap2 .box .second_ {
  margin-top: 9rem;
  text-align: center;
}
#unionCard .box-wrap2 .box .second_ h6 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: normal;
}
#unionCard .box-wrap2 .box .second_ > img {
  width: 12rem;
  margin-right: 0;
}
#unionCard .box-wrap2 .box .second_ > span {
  color: #BEBEBE;
}
#unionLogin .login_ {
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 0.01rem solid #cccccc;
  position: relative;
}
#unionLogin .login_ span {
  font-size: 0.8054rem;
  font-weight: bold;
  margin-left: 0.84rem;
}
#unionLogin .login_ input {
  font-size: 0.8054rem;
}
#unionLogin .login_ > div {
  height: 2.5rem;
  width: 5.76rem;
  background-color: #ffffff;
  border: none;
  border-left: 0.01rem solid #cccccc;
  color: #98989F;
  font-size: 0.8054rem;
  text-align: center;
}
#unionLogin .login_ .btn0:focus {
  color: #ffffff;
  background-color: #1FC055;
  border: 0.05rem solid #1FC055!important;
}
#unionLogin .login_ #message_ {
  position: absolute;
  top: 2.5rem;
  color: red;
  font-size: 0.672rem;
  left: 0.8rem;
}
#unionLogin > button {
  width: 90%;
  display: block;
  margin: 2.46rem auto;
  background-color: #58b473 ;
  border: none;
  border-radius: 0.216rem;
  height: 2.16rem;
  color: #ffffff;
  font-size: 0.8054rem;
}
