<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.card.UnionCardInfoDetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.card.UnionCardInfoDetail">
		<id column="id" property="id" />
		<result column="createtime" property="createtime" />
		<result column="card_info_id" property="cardInfoId" />
		<result column="card_type" property="cardType" />
		<result column="pay_price" property="payPrice" />
		<result column="card_time_term" property="cardTimeTerm" />
		<result column="card_version" property="cardVersion" />
	</resultMap>

</mapper>
