<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.card.mapper.UnionCardMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.card.entity.UnionCard">
		<id column="id" property="id" />
		<result column="createtime" property="createtime" />
		<result column="del_status" property="delStatus" />
		<result column="root_id" property="rootId" />
		<result column="member_id" property="memberId" />
		<result column="validity" property="validity" />
		<result column="type" property="type" />
		<result column="is_charge" property="isCharge" />
	</resultMap>



	<!--获取最低折扣的联盟卡-->
	<select id="getByMinDiscountByCardList" resultType="java.util.Map">
		SELECT * from (SELECT d.discount, d.from_member_id fromMemberId, d.to_member_id toMemberId, c.id cardId, m.enterprise_name enterpriseName, c.root_id rootId, c.type cardType, DATE_FORMAT(c.validity, '%Y-%m-%d %T') validity, c.is_charge isCharge from
		(SELECT * from t_union_card WHERE id in
		<foreach collection="list" item="card" open="(" close=")"
				 separator=",">
			#{card.id}
		</foreach> and del_status = 0
		) c
		LEFT JOIN t_union_member_discount d on d.to_member_id = c.member_id
		LEFT JOIN t_union_member m on d.to_member_id = m.id
		WHERE c.member_id = d.to_member_id and d.from_member_id = #{memberId} and d.del_status = 0 and m.del_status = 0 and m.`status` in (2,3)
		ORDER BY d.discount asc, m.is_union_owner desc, c.createtime asc) t
		GROUP BY t.fromMemberId LIMIT 1
	</select>


	<select id="countByMemberIdsAndType" resultType="java.lang.Integer">
		SELECT count(id) from t_union_card WHERE
		member_id in
		<foreach collection="members" item="memberId" open="(" close=")"
				 separator=",">
			#{memberId}
		</foreach>
		<if test="rootId != null" >
			AND root_id = #{rootId}
		</if>
		<if test="type != null" >
			AND type = #{type}
		</if>
		<if test="isCharge != null" >
			AND is_charge = #{isCharge}
		</if>
		AND del_status = 0 AND validity &gt; NOW()
	</select>

	<!-- 根据联盟卡列表查询最早办理的联盟卡 -->
	<select id="getByEarliestByCardList" resultType="java.util.Map">
	  SELECT * from (SELECT c.id cardId, m.enterprise_name enterpriseName, c.member_id toMemberId, c.root_id rootId, c.type cardType, DATE_FORMAT(c.validity, '%Y-%m-%d %T') validity, c.is_charge isCharge from
		(SELECT * from t_union_card WHERE id in
		<foreach collection="list" item="card" open="(" close=")"
				 separator=",">
			#{card.id}
		</foreach>
		and del_status = 0) c
		LEFT JOIN t_union_member m on m.id = c.member_id
		where m.del_status = 0 and m.`status` in (2,3)
		ORDER BY c.createtime asc) t
	 	LIMIT 1
	</select>
</mapper>
