<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.UnionMemberCardMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.UnionMemberCard">
		<id column="id" property="id" />
		<result column="del_status" property="delStatus" />
		<result column="bus_id" property="busId" />
		<result column="member_id" property="memberId" />
		<result column="union_member_card_id" property="unionMemberCardId" />
		<result column="band_card_time" property="bandCardTime" />
	</resultMap>

</mapper>
