<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.card.UnionUpgradeCardRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.card.UnionUpgradeCardRecord">
		<id column="id" property="id" />
		<result column="del_status" property="delStatus" />
		<result column="createtime" property="createtime" />
		<result column="member_id" property="memberId" />
		<result column="card_info_id" property="cardInfoId" />
		<result column="order_no" property="orderNo" />
		<result column="wx_order_no" property="wxOrderNo" />
		<result column="pay_status" property="payStatus" />
		<result column="pay_type" property="payType" />
		<result column="pay_bus_id" property="payBusId" />
		<result column="order_desc" property="orderDesc" />
		<result column="union_id" property="unionId" />
		<result column="pay_money" property="payMoney" />
	</resultMap>

</mapper>
