<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.card.mapper.UnionCardMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.card.entity.UnionCard">
		<id column="id" property="id" />
		<result column="createtime" property="createtime" />
		<result column="del_status" property="delStatus" />
		<result column="root_id" property="rootId" />
		<result column="member_id" property="memberId" />
		<result column="validity" property="validity" />
		<result column="type" property="type" />
	</resultMap>

</mapper>
