<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.main.mapper.UnionMainTransferMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gt.union.main.entity.UnionMainTransfer">
        <id column="id" property="id"/>
        <result column="del_status" property="delStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="union_id" property="unionId"/>
        <result column="from_member_id" property="fromMemberId"/>
        <result column="to_member_id" property="toMemberId"/>
        <result column="confirm_status" property="confirmStatus"/>
        <result column="is_advice" property="isAdvice"/>
    </resultMap>

</mapper>