<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.business.UnionPayRecommendMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.business.UnionPayRecommend">
		<id column="id" property="id" />
		<result column="pay_record_id" property="payRecordId" />
		<result column="recommend_id" property="recommendId" />
	</resultMap>

</mapper>
