<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.business.UnionRecommendPayRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.business.UnionRecommendPayRecord">
		<id column="id" property="id" />
		<result column="del_status" property="delStatus" />
		<result column="createtime" property="createtime" />
		<result column="bus_id" property="busId" />
		<result column="member_id" property="memberId" />
		<result column="union_id" property="unionId" />
		<result column="price" property="price" />
		<result column="recommend_id" property="recommendId" />
	</resultMap>

	<!-- 查询商家获得佣金的总和 -->
	<select id="selectRecommendPaySum" resultType="java.lang.Double">
		SELECT SUM(price) as price FROM t_union_recommend_pay_record WHERE del_status = 0
		<if test="busId != null" >
			and bus_id = #{busId,jdbcType=INTEGER}
		</if>
		<if test="unionId != null" >
			and union_id = #{unionId,jdbcType=INTEGER}
		</if>

	</select>

</mapper>
