<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.business.UnionBusinessRecommendMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.business.UnionBusinessRecommend">
		<id column="id" property="id" />
		<result column="createtime" property="createtime" />
		<result column="del_status" property="delStatus" />
		<result column="union_id" property="unionId" />
		<result column="from_bus_id" property="fromBusId" />
		<result column="to_bus_id" property="toBusId" />
		<result column="is_acceptance" property="isAcceptance" />
		<result column="acceptance_price" property="acceptancePrice" />
		<result column="is_confirm" property="isConfirm" />
		<result column="confirm_time" property="confirmTime" />
		<result column="recommend_type" property="recommendType" />
		<result column="business_price" property="businessPrice" />
		<result column="from_member_id" property="fromMemberId" />
		<result column="to_member_id" property="toMemberId" />
		<result column="is_urge_brokerage" property="isUrgeBrokerage" />
	</resultMap>

</mapper>
