<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.basic.UnionApplyInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.basic.UnionApplyInfo">
		<id column="id" property="id" />
		<result column="union_apply_id" property="unionApplyId" />
		<result column="apply_reason" property="applyReason" />
		<result column="enterprise_name" property="enterpriseName" />
		<result column="director_name" property="directorName" />
		<result column="director_phone" property="directorPhone" />
		<result column="director_email" property="directorEmail" />
		<result column="bus_address" property="busAddress" />
		<result column="notify_phone" property="notifyPhone" />
		<result column="address_longitude" property="addressLongitude" />
		<result column="address_latitude" property="addressLatitude" />
		<result column="address_provience_id" property="addressProvienceId" />
		<result column="address_city_id" property="addressCityId" />
		<result column="address_district_id" property="addressDistrictId" />
		<result column="integral_proportion" property="integralProportion" />
		<result column="is_member_out_advice" property="isMemberOutAdvice" />
		<result column="sell_divide_proportion" property="sellDivideProportion" />
	</resultMap>

	<!-- 查询盟员信息 -->
	<select id="selectUnionApplyInfo" resultType="com.gt.union.entity.basic.UnionApplyInfo">
		SELECT t2.id, t2.union_apply_id, t2.apply_reason, t2.enterprise_name, t2.director_name, t2.director_phone,
		t2.director_email, t2.bus_address, t2.notify_phone, t2.address_longitude, t2.address_latitude, t2.address_provience_id,
		t2.address_city_id, t2.address_district_id, t2.integral_proportion, t2.is_member_out_advice,
		t1.sell_divide_proportion
		FROM t_union_apply t1 LEFT JOIN t_union_apply_info t2 ON t1.id = t2.union_apply_id
		WHERE t1.union_id = #{unionId,jdbcType=INTEGER} and t1.apply_bus_id = #{busId,jdbcType=INTEGER} and t1.apply_status = 1 and t1.del_status = 0
	</select>

</mapper>
