<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.basic.UnionMainMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.basic.UnionMain">
		<id column="id" property="id" />
		<result column="createtime" property="createtime" />
		<result column="del_status" property="delStatus" />
		<result column="union_name" property="unionName" />
		<result column="bus_id" property="busId" />
		<result column="union_img" property="unionImg" />
		<result column="join_type" property="joinType" />
		<result column="director_phone" property="directorPhone" />
		<result column="union_illustration" property="unionIllustration" />
		<result column="union_wx_group_img" property="unionWxGroupImg" />
		<result column="union_sign" property="unionSign" />
		<result column="union_total_member" property="unionTotalMember" />
		<result column="union_member_num" property="unionMemberNum" />
		<result column="union_level" property="unionLevel" />
		<result column="union_verify_status" property="unionVerifyStatus" />
		<result column="is_integral" property="isIntegral" />
		<result column="old_member_charge" property="oldMemberCharge" />
		<result column="black_card_charge" property="blackCardCharge" />
		<result column="black_card_price" property="blackCardPrice" />
		<result column="black_card_term" property="blackCardTerm" />
		<result column="red_card_opend" property="redCardOpend" />
		<result column="red_card_price" property="redCardPrice" />
		<result column="red_card_term" property="redCardTerm" />
		<result column="black_card_illustration" property="blackCardIllustration" />
		<result column="red_card_illustration" property="redCardIllustration" />
		<result column="union_validity" property="unionValidity" />
	</resultMap>

	<!-- 查询商家加入的联盟列表 -->
    <select id="selectMemberUnionList" resultType="com.gt.union.entity.basic.UnionMain">
		SELECT t1.id, t1.createtime, t1.del_status, t1.union_name, t1.bus_id, t1.union_img, t1.join_type, t1.director_phone,
		t1.union_illustration, t1.union_wx_group_img, t1.union_sign, t1.union_total_member, t1.union_member_num,
		t1.union_level, t1.union_verify_status, t1.is_integral, t1.old_member_charge, t1.black_card_charge,
		t1.black_card_price, t1.black_card_term, t1.red_card_opend, t1.red_card_price, t1.red_card_term,
		t1.black_card_illustration, t1.red_card_illustration, t1.union_validity
		from t_union_main t1 left join t_union_member t2 on t1.id = t2.union_id
		where t2.bus_id = #{busId,jdbcType=INTEGER} and t2.del_status = 0 order by t2.id asc
	</select>

</mapper>
