<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.union.mapper.basic.UnionCreateInfoRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.union.entity.basic.UnionCreateInfoRecord">
		<id column="id" property="id" />
		<result column="createtime" property="createtime" />
		<result column="del_status" property="delStatus" />
		<result column="bus_id" property="busId" />
		<result column="create_status" property="createStatus" />
		<result column="period_validity" property="periodValidity" />
		<result column="union_id" property="unionId" />
	</resultMap>

</mapper>
